<table class="table table-sm table-bordered" id="table-dictionary">
    <thead>
    <tr class="text-white small text-uppercase">
        <td class="bg-primary">NUMERO DE COMPROBANTE</td>
        <td class="bg-primary">PROVEEDOR</td>
        <td class="bg-primary">FECHA DE COMPRA</td>
        <td class="bg-primary">ESTADO</td>
        <td class="bg-primary">EMPLEADO</td>
        <td class="bg-success">PRODUCTO</td>
        <td class="bg-success">CANTIDAD</td>
        <td class="bg-success">UNIDAD</td>
        <td class="bg-success">TOTAL</td>
        <td class="bg-info">PAGAR</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        {% for p in dictionary %}
            <tr pk="{{ p.id }}" class="text-center ">
                <td class="align-middle text-center" rowspan="{{ p.rowspan }}">{{ p.bill_number }}</td>
                <td class="align-middle text-center" rowspan="{{ p.rowspan }}">{{ p.supplier.name }}</td>
                <td class="align-middle text-center" rowspan="{{ p.rowspan }}">{{ p.purchase_date }}</td>
                <td class="align-middle text-center" class=" text-success" rowspan="{{ p.rowspan }}">{{ p.status }}</td>
                <td class="align-middle text-center"
                    rowspan="{{ p.rowspan }}">{{ p.user.worker_set.last.employee.names }}</td>

                {% for d in p.purchase_detail_set %}
                    {% if forloop.first %}
                        <td class="align-middle text-center" rowspan="{{ d.rowspan }}">{{ d.product }}</td>
                        <td class="align-middle text-center" rowspan="{{ d.rowspan }}">{{ d.quantity }}</td>
                        <td class="align-middle text-center" rowspan="{{ d.rowspan }}">{{ d.unit }}</td>
                        <td class="align-middle text-center"
                            rowspan="{{ d.rowspan }}">{{ d.price_unit|floatformat:4 }}</td>
                        <td class="align-middle text-center" class="p-1" rowspan="{{ p.rowspan }}">
                            <button type="button" class="btn btn-success btn-show-detail" pk="{{ p.id }}"><i
                                    class="fas fa-dollar-sign"></i> PAGAR
                            </button>
                        </td>
                        </tr>

                    {% else %}
                        <tr class="text-center ">
                            <td class="align-middle text-center" rowspan="{{ d.rowspan }}">{{ d.product }}</td>
                            <td class="align-middle text-center" rowspan="{{ d.rowspan }}">{{ d.quantity }}</td>
                            <td class="align-middle text-center" rowspan="{{ d.rowspan }}">{{ d.unit }}</td>
                            <td class="align-middle text-center"
                                rowspan="{{ d.rowspan }}">{{ d.price_unit|floatformat:4 }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}


        {% endfor %}
    </tbody>
</table>
