{% extends 'home.html' %}

{% block title %}4soft | Datos personales del trabajador{% endblock title %}
{% block breadcrumb_item %}Empleados{% endblock breadcrumb_item %}
{% block controls %}
    <div class="table-data__tool m-0">
        <div class="table-data__tool-left">

            {#        <div class="rs-select2--light rs-select2--md">#}

            {#            <select class="js-select2" name="property">#}
            {#                <option selected="selected">All Properties</option>#}
            {#                <option value="">Option 1</option>#}
            {#                <option value="">Option 2</option>#}
            {#            </select>#}
            {#            <div class="dropDownSelect2"></div>#}
            {#        </div>#}
            {#        <div class="rs-select2--light rs-select2--sm">#}
            {#            <select class="js-select2" name="time">#}
            {#                <option selected="selected">Today</option>#}
            {#                <option value="">3 Days</option>#}
            {#                <option value="">1 Week</option>#}
            {#            </select>#}
            {#            <div class="dropDownSelect2"></div>#}
            {#        </div>#}
            {#        <button class="au-btn-filter">#}
            {#            <i class="zmdi zmdi-filter-list"></i>filters</button>#}
        </div>
        <div class="table-data__tool-right">
            <button class="au-btn au-btn-icon au-btn--green au-btn--small"
                    onclick="showModalCreation('{% url 'hrm:json_employee_create' %}')">
                <i class="zmdi zmdi-plus"></i>Agregar Nuevo Empleado
            </button>
            {#        <div class="rs-select2--light rs-select2--sm rs-select2--dark2">#}
            {#            <select class="js-select2" name="type">#}
            {#                <option selected="selected">Export</option>#}
            {#                <option value="">Option 1</option>#}
            {#                <option value="">Option 2</option>#}
            {#            </select>#}
            {#            <div class="dropDownSelect2"></div>#}
            {#        </div>#}
        </div>
    </div>

{% endblock controls %}

{% block body %}


    <!-- Content -->
    <div class="container-fluid">

        <div id="employee-grid-list">{% include "hrm/employee_grid_list.html" %}</div>

    </div>


    <div class="modal fade bd-example-modal-lg" id="creation" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
    <div class="modal fade" id="edition" tabindex="-1" role="dialog" aria-labelledby="ModalHelpTitle"
         aria-hidden="true"></div>
    <div class="modal fade" id="get-worker-designation" tabindex="-1" role="dialog" aria-labelledby="ModalHelpTitle"
         aria-hidden="true"></div>
    <div class="modal fade" id="get-worker-establishment" tabindex="-1" role="dialog" aria-labelledby="ModalHelpTitle"
         aria-hidden="true"></div>
    <div class="modal fade" id="get-worker-user" tabindex="-1" role="dialog" aria-labelledby="ModalHelpTitle"
         aria-hidden="true"></div>



{% endblock body %}


{% block extrajs %}
    <script type="text/javascript">

        var $ = jQuery.noConflict();

        $('#employee-data-grid').dataTable({
            columnDefs: [{
                orderable: false,
                className: 'select-checkbox',
                targets: 0
            }],
            select: {
                style: 'os',
                selector: 'td:first-child'
            }
        });
        $(document).on('click', '.worker-designation', function () {
            var search = $(this).attr('pk');
            $.ajax({
                url: '/hrm/get_worker_designation/',
                dataType: 'json',
                type: 'GET',
                data: {'pk': search},
                success: function (response) {
                    console.log(response);
                    if (response.success) {
                        $('#get-worker-designation').html(response.form);
                        $('#get-worker-designation').modal('show');
                    }
                },
                fail: function (response) {
                    console.log(response);
                }
            });
        });
        $(document).on('click', '.worker-change-designation', function () {
            var search = $(this).attr('pk');
            $.ajax({
                url: '/hrm/edit_worker_designation/',
                dataType: 'json',
                type: 'GET',
                data: {'pk': search},
                success: function (response) {
                    console.log(response);
                    if (response.success) {
                        $('#get-worker-designation').html(response.form);
                        $('#get-worker-designation').modal('show');
                    }
                },
                fail: function (response) {
                    console.log(response);
                }
            });
        });
        $(document).on('click', '.worker-change-establishment', function () {
            let search = $(this).attr('pk');
            $.ajax({
                url: '/hrm/get_worker_establishment/',
                dataType: 'json',
                type: 'GET',
                data: {'pk': search},
                success: function (response) {
                    console.log(response);
                    if (response.success) {
                        $('#get-worker-establishment').html(response.form);
                        $('#get-worker-establishment').modal('show');
                    }
                },
                fail: function (response) {
                    console.log(response);
                }
            });
        });
        $(document).on('click', '.worker-change-user', function () {
            let search = $(this).attr('pk');
            $.ajax({
                url: '/hrm/get_worker_user/',
                dataType: 'json',
                type: 'GET',
                data: {'pk': search},
                success: function (response) {
                    console.log(response);
                    if (response.success) {
                        $('#get-worker-user').html(response.form);
                        $('#get-worker-user').modal('show');
                    }
                },
                fail: function (response) {
                    console.log(response);
                }
            });
        });

        $('.staff-in-training-designation').on('click', function () {
            var search = $(this).attr('pk');
            $.ajax({
                url: '/sales/get_kardex_by_product/',
                dataType: 'json',
                type: 'GET',
                data: {'pk': search},
                success: function (response) {
                    console.log(response);
                    if (response.success) {
                        $('#show-kardex').html(response.form);
                        $('#show-kardex').modal('show');
                    }
                },
                fail: function (response) {
                    console.log(response);
                }
            });
        });

        $('.third-party-personnel-designation').on('click', function () {
            var search = $(this).attr('pk');
            $.ajax({
                url: '/sales/set_product_detail/',
                dataType: 'json',
                type: 'GET',
                data: {'pk': search},
                success: function (response) {
                    if (response.success) {
                        console.log(response.serialized_data);
                        $('#get-worker-designation').html(response.form);
                        $('#get-worker-designation').modal('show');
                    }
                },
                fail: function (response) {
                    console.log(response);
                }
            });
        });

        function refreshTable() {
            $('#employee-data-grid').DataTable().draw();
        }

        function showModalDelete(url) {
            $('#delete').load(url, function () {
                $(this).modal('show');
            });
        };

        function showModalEdition(url) {
            $('#edition').load(url, function () {
                $(this).modal('show');
            });
        };

        function showModalCreation(url) {
            $('#creation').load(url, function () {
                $(this).modal('show');
            });
        };


    </script>
{% endblock extrajs %}
