<div class="card-header text-center text-uppercase bg-light font-weight-bold">
    <h2> {{ client_obj }} </h2>
</div>
<div class="" id="grid-dictionary" style="overflow:scroll;width: 100%;height: 45em">
    <table class="table table-sm table-bordered" id="table-dictionary">
        {% if not is_pdf %}
            <thead>{% endif %}
        <tr class="text-white small text-uppercase">
            <td class="bg-primary">ID</td>
            <td class="bg-primary">TIPO</td>
            {#        <td class="bg-primary">CLIENTE</td>#}
            <td class="bg-success">PLACA</td>
            <td class="bg-success">RESPONSABLE</td>
            <td class="bg-primary">FECHA</td>
            {#        <td class="bg-primary">ESTADO</td>#}

            <td class="bg-info">PROD.</td>
            <td class="bg-info">UND</td>
            <td class="bg-info">CALIDAD</td>
            <td class="bg-info">CANT.</td>
            <td class="bg-info">PREC.</td>
            <td class="bg-info">IMP.</td>

            <td class="bg-info head-spending">GASTOS</td>

            <td class="bg-secondary">FECHA OPERACIÓN</td>
            <td class="bg-secondary">CANTIDAD ENTREGADA BALONES</td>
            <td class="bg-secondary">CANTIDAD VALES FISE</td>
            <td class="bg-secondary">MONTO PAGADO</td>
            <td class="bg-secondary">TIPO PAGO</td>
            <td class="bg-secondary">TOTAL CANTIDAD ENTREGADA BALONES</td>
            <td class="bg-secondary">TOTAL CANTIDAD VALES FISE</td>
            <td class="bg-secondary">TOTAL PAGADO GLP</td>
            <td class="bg-secondary">TOTAL PAGADO BALONES</td>
            <td class="bg-secondary">TOTAL CANTIDAD CAMBIADA</td>
            <td class="bg-secondary">ACCIÓN</td>

            <td class="bg-primary">TOTAL</td>
            <td class="bg-primary">TOTAL PAGADO GLP</td>
            <td class="bg-danger">TOTAL GASTOS</td>
            <td class="bg-primary">TOTAL VALES FISE</td>
            <td class="bg-primary">TOTAL BALONES DEVUELTO</td>
            <td class="bg-info">PAGO FALTANTE BALONES</td>
            <td class="bg-primary">PAGO FALTANTE GLP</td>
            <td class="bg-primary">CANTIDAD FALTANTE BALONES</td>
            <td class="bg-primary">CANTIDAD DE BALONES CAMBIADOS</td>
        </tr>
        {% if not is_pdf %}</thead>{% endif %}
        {% if not is_pdf %}
            <tbody>{% endif %}
        {% for o in dictionary %}
            <tr info="{{ o.id }}">

                <td class="align-middle text-center" rowspan="{{ o.rowspan }}">{{ o.id }}</td>
                <td class="align-middle text-center" rowspan="{{ o.rowspan }}">
                    {% if o.type == 'VENTA' %}
                        <span class="text-success font-weight-bolder">{{ o.type }}</span>
                    {% else %}
                        <span class="text-dark font-weight-bolder">{{ o.type }}</span>
                    {% endif %}
                </td>
                {#            <td class="align-middle text-center" rowspan="{{ o.rowspan }}">{{ o.client }}</td>#}
                <td class="align-middle text-center plate"
                    rowspan="{{ o.rowspan }}">{{ o.distribution_mobil.0.license_plate }}</td>
                <td class="align-middle text-center pilot"
                    rowspan="{{ o.rowspan }}">{{ o.distribution_mobil.0.pilot }}</td>
                <td class="align-middle text-center" rowspan="{{ o.rowspan }}">{{ o.date|date:"d-m-y" }}</td>
                {#            <td class="align-middle text-center" rowspan="{{ o.rowspan }}">{{ o.status }}</td>#}

                {% for d in o.order_detail_set %}

                    <td class="align-middle text-center" rowspan="{{ d.rowspan }}">{{ d.product }}</td>
                    <td class="align-middle text-center" rowspan="{{ d.rowspan }}">
                        {% if d.unit == 'G' %}
                            <span class="text-danger font-weight-bolder">GLP</span>
                        {% elif d.unit == 'B' %}
                            <span class="text-primary font-weight-bolder">BALON</span>
                        {% else %}
                            <span class="text-success font-weight-bolder">{{ d.unit }}</span>

                        {% endif %}
                    </td>
                    <td class="align-middle text-center" rowspan="{{ d.rowspan }}">{{ d.type }}</td>
                    <td class="align-middle text-center" rowspan="{{ d.rowspan }}">{{ d.quantity_sold }}</td>
                    <td class="align-middle text-center" rowspan="{{ d.rowspan }}">{{ d.price_unit }}</td>
                    <td class="align-middle text-center" rowspan="{{ d.rowspan }}">{{ d.multiply|floatformat:2 }}</td>
                    {#llamar a el modal de expense#}

                    {% if d.has_spending %}
                        <td class="align-middle text-center body-spending" rowspan="{{ d.rowspan }}">
                            <button type="button"
                                    class="btn btn-outline-danger btn-sm btn-block btn-expense"
                                    data-toggle="modal"
                                    data-target="#modal-expense" pk="{{ o.id }}">+
                            </button>
                        </td>
                    {% else %}
                        <td class="align-middle text-success text-center body-spending" rowspan="{{ d.rowspan }}">
                        </td>
                    {% endif %}

                    {% for l in d.loan_payment_set %}

                        {% if forloop.first %}

                            <td class="align-middle text-center">{{ l.date|date:"d-m-y" }}</td>
                            <td class="align-middle text-center">{{ l.quantity }}</td>
                            <td class="align-middle text-center">{{ l.number_of_vouchers }}</td>
                            <td class="align-middle text-center">{{ l.price|floatformat:2 }}</td>
                            <td class="align-middle text-center">{{ l.type }}</td>
                            <td class="align-middle text-success text-center"
                                rowspan="{{ d.rowspan }}">{{ d.return_loan }}</td>
                            <td class="align-middle text-success text-center"
                                rowspan="{{ d.rowspan }}">{{ d.repay_loan_with_vouchers }}</td>

                            <td class="align-middle text-success text-center"
                                rowspan="{{ d.rowspan }}">{{ d.repay_loan|floatformat:2 }}</td>

                            <td class="align-middle text-success text-center"
                                rowspan="{{ d.rowspan }}">{{ d.repay_loan_ball|floatformat:2 }}</td>

                            <td class="align-middle text-success text-center"
                                rowspan="{{ d.rowspan }}">{{ d.ball_changes }}</td>
                            <td class="align-top text-success text-center" rowspan="{{ d.rowspan }}">

                                {% if d.unit == 'G' %}
                                    <button type="button"
                                            class="btn btn-success btn-sm btn-block btn-payment"
                                            data-toggle="modal"
                                            data-target="#modal-payment" pk="{{ d.id }}">
                                        <i class="fas fa-dollar-sign"></i> Pagar
                                    </button>
                                    <button type="button"
                                            class="btn btn-warning btn-sm btn-block btn-change mt-1"
                                            data-toggle="modal"
                                            data-target="#modal-payment" pk="{{ d.id }}">
                                        <i class="fas fa-arrow-alt-circle-down"></i> Cambiar
                                    </button>
                                {% elif d.unit == 'B' %}
                                    <button type="button"
                                            class="btn btn-info btn-sm btn-block btn-payment"
                                            data-toggle="modal"
                                            data-target="#modal-payment" pk="{{ d.id }}">
                                        <i class="fas fa-dollar-sign"></i> Devolver
                                    </button>
                                {% elif d.unit == 'GBC' %}
                                    <button type="button"
                                            class="btn btn-success btn-sm btn-block btn-payment"
                                            data-toggle="modal"
                                            data-target="#modal-payment" pk="{{ d.id }}">
                                        <i class="fas fa-dollar-sign"></i> Pagar
                                    </button>

                                {% endif %}

                            </td>

                            {% if forloop.parentloop.first %}

                                <td class="align-middle text-primary text-right"
                                    rowspan="{{ o.rowspan }}">{{ o.total|floatformat:2 }}</td>
                                <td class="align-middle text-primary text-right"
                                    rowspan="{{ o.rowspan }}">{{ o.total_repay_loan|floatformat:2 }}</td>
                                <td class="align-middle text-danger font-weight-bold text-right"
                                    rowspan="{{ o.rowspan }}">{{ o.total_spending|floatformat:2 }}</td>
                                <td class="align-middle text-primary text-right"
                                    rowspan="{{ o.rowspan }}">{{ o.total_repay_loan_with_vouchers|floatformat:2 }}</td>
                                <td class="align-middle text-primary text-right"
                                    rowspan="{{ o.rowspan }}">{{ o.total_return_loan|floatformat:2 }}</td>

                                <td class="align-middle text-info font-weight-bold text-right"
                                    rowspan="{{ o.rowspan }}">{{ o.total_remaining_repay_loan_ball|floatformat:2 }}</td>

                                <td class="align-middle text-primary text-right pay-loan-rest"
                                    rowspan="{{ o.rowspan }}">{{ o.total_remaining_repay_loan|floatformat:2 }}</td>
                                <td class="align-middle text-primary text-right"
                                    rowspan="{{ o.rowspan }}">{{ o.total_remaining_return_loan|floatformat:2 }}</td>

                                <td class="align-middle text-warning font-weight-bold text-right"
                                    rowspan="{{ o.rowspan }}">{{ o.total_ball_changes|floatformat:2 }}</td>

                            {% endif %}

                            </tr>
                        {% else %}
                            <tr>
                                <td class="align-middle text-center">{{ l.date|date:"d-m-y" }}</td>
                                <td class="align-middle text-center">{{ l.quantity }}</td>
                                <td class="align-middle text-center">{{ l.number_of_vouchers }}</td>
                                <td class="align-middle text-center">{{ l.price|floatformat:2 }}</td>
                                <td class="align-middle text-center">{{ l.type }}</td>

                            </tr>
                        {% endif %}

                    {% empty %}
                        <td class="align-middle text-primary text-center" colspan="10">SIN PAGOS</td>
                        <td>
                            {% if d.unit == 'G' %}
                                <button type="button"
                                        class="btn btn-success btn-sm btn-block btn-payment"
                                        data-toggle="modal"
                                        data-target="#modal-payment" pk="{{ d.id }}">
                                    <i class="fas fa-dollar-sign"></i> Pagar
                                </button>
                                <button type="button"
                                        class="btn btn-warning btn-sm btn-block btn-change mt-1"
                                        data-toggle="modal"
                                        data-target="#modal-payment" pk="{{ d.id }}">
                                    <i class="fas fa-arrow-alt-circle-down"></i> Cambiar
                                </button>
                            {% elif d.unit == 'B' %}
                                <button type="button"
                                        class="btn btn-info btn-sm btn-block btn-payment"
                                        data-toggle="modal"
                                        data-target="#modal-payment" pk="{{ d.id }}">
                                    <i class="fas fa-dollar-sign"></i> Devolver
                                </button>
                            {% elif d.unit == 'GBC' %}
                                <button type="button"
                                        class="btn btn-success btn-sm btn-block btn-payment"
                                        data-toggle="modal"
                                        data-target="#modal-payment" pk="{{ d.id }}">
                                    <i class="fas fa-dollar-sign"></i> Pagar
                                </button>

                            {% endif %}
                        </td>

                        {% if not o.has_loans %}

                            {% if o.order_detail_set.0.id == d.id %}

                                {% if o.details_count > 0 %}

                                    <td class="align-middle text-primary text-right"
                                        rowspan="{{ o.rowspan }}">{{ o.total|floatformat:2 }}</td>
                                    <td class="align-middle text-primary text-right"
                                        rowspan="{{ o.rowspan }}">{{ o.total_repay_loan|floatformat:2 }}</td>
                                    <td class="align-middle text-danger font-weight-bold text-right"
                                        rowspan="{{ o.rowspan }}">{{ o.total_spending|floatformat:2 }}</td>
                                    <td class="align-middle text-primary text-right"
                                        rowspan="{{ o.rowspan }}">{{ o.total_repay_loan_with_vouchers|floatformat:2 }}</td>
                                    <td class="align-middle text-primary text-right"
                                        rowspan="{{ o.rowspan }}">{{ o.total_return_loan|floatformat:2 }}</td>

                                    <td class="align-middle text-info font-weight-bold text-right"
                                        rowspan="{{ o.rowspan }}">{{ o.total_remaining_repay_loan_ball|floatformat:2 }}</td>


                                    <td class="align-middle text-primary text-right pay-loan-rest"
                                        rowspan="{{ o.rowspan }}">{{ o.total_remaining_repay_loan|floatformat:2 }}</td>
                                    <td class="align-middle text-primary text-right"
                                        rowspan="{{ o.rowspan }}">{{ o.total_remaining_return_loan|floatformat:2 }}</td>
                                    <td class="align-middle text-warning font-weight-bold text-right"
                                        rowspan="{{ o.rowspan }}">{{ o.total_ball_changes|floatformat:2 }}</td>

                                {% endif %}



                            {% endif %}
                        {% else %}
                            {% if o.order_detail_set.0.id == d.id %}
                                <td class="align-middle text-primary text-right"
                                    rowspan="{{ o.rowspan }}">{{ o.total|floatformat:2 }}</td><!--TOTAL-->
                                <td class="align-middle text-primary text-right"
                                    rowspan="{{ o.rowspan }}">{{ o.total_repay_loan|floatformat:2 }}</td><!--TOTAL PAGADO GLP-->
                                <td class="align-middle text-danger font-weight-bold text-right"
                                    rowspan="{{ o.rowspan }}">{{ o.total_spending|floatformat:2 }}</td><!--TOTAL GASTOS-->
                                <td class="align-middle text-primary text-right"
                                    rowspan="{{ o.rowspan }}">{{ o.total_repay_loan_with_vouchers|floatformat:2 }}</td><!--TOTAL VALES FISE-->
                                <td class="align-middle text-primary text-right"
                                    rowspan="{{ o.rowspan }}">{{ o.total_return_loan|floatformat:2 }}</td> <!--TOTAL BALONES DEVUELTOS-->

                                <td class="align-middle text-primary font-weight-bold text-right"
                                    rowspan="{{ o.rowspan }}">{{ o.total_remaining_repay_loan_ball|floatformat:2 }}</td><!-- PAGO FALTANTE BALONES-->

                                <td class="align-middle text-primary text-right pay-loan-rest"
                                    rowspan="{{ o.rowspan }}">{{ o.total_remaining_repay_loan|floatformat:2 }}</td> <!--PAGO FALTANTE GLP-->
                                <td class="align-middle text-primary text-right"
                                    rowspan="{{ o.rowspan }}">{{ o.total_remaining_return_loan|floatformat:2 }}</td> <!--FALTANTES BALONES-->
                                <td class="align-middle text-warning font-weight-bold text-right"
                                    rowspan="{{ o.rowspan }}">{{ o.total_ball_changes|floatformat:2 }}</td><!--CANTIDAD DE BALONES CAMBIADOS-->
                            {% endif %}
                        {% endif %}

                        </tr>
                    {% endfor %}


                {% empty %}
                    <td colspan="23" rowspan="0">SIN DETALLES</td>
                    </tr>

                {% endfor %}

        {% endfor %}
        {% if not is_pdf %}</tbody>{% endif %}
        {% if not is_pdf %}
            <tfoot>{% endif %}
        <tr>
            <td colspan="23" class="colcount"></td>
            <td class="align-middle text-primary text-right">{{ sum_total|floatformat:2 }}</td>
            <td class="align-middle text-primary text-right">{{ sum_total_repay_loan|floatformat:2 }}</td>
            <td class="align-middle text-danger text-right">{{ sum_total_cash_flow_spending|floatformat:2 }}</td>
            <td class="align-middle text-primary text-right">{{ sum_total_repay_loan_with_vouchers|floatformat:2 }}</td>
            <td class="align-middle text-primary text-right">{{ sum_total_return_loan|floatformat:2 }}</td>
            <td class="align-middle text-info text-right">{{ sum_total_remaining_repay_loan_ball|floatformat:2 }}</td>
            <td class="align-middle text-primary text-right">{{ sum_total_remaining_repay_loan|floatformat:2 }}</td>
            <td class="align-middle text-primary text-right">{{ sum_total_remaining_return_loan|floatformat:2 }}</td>
            <td class="align-middle text-warning text-right">{{ sum_total_ball_changes|floatformat:2 }}</td>
        </tr>
        {% if not is_pdf %}</tfoot>{% endif %}
    </table>
</div>

<div class="mt-2 mb-2">
    {% if is_pdf %}
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous">

        <h4>Reporte de estado de cuenta</h4>

    {% else %}
        {#        <button id="get-pdf" type="button" class="btn btn-outline-dark"><span class="fa fa-print"></span> Pdf</button>#}
        <a href="{% url 'sales:account_order_list_pdf' client_obj.id %}" target="print"
           class="btn btn-outline-dark"><span class="fa fa-print"></span> Pdf</a>

        <a target="print" id="table-to-excel" class="btn btn-outline-dark"><span class="fa fa-file-excel"></span>
            Excel</a>
    {% endif %}

</div>

<script type="text/javascript">

    {#$("#grid-dictionary").mCustomScrollbar();#}

    $(document).on('click', '.btn-payment', function () {

        let _detail_id = $(this).attr('pk');
        $('#lending').empty();
        $.ajax({
            url: '/sales/get_order_detail_for_pay/',
            async: true,
            dataType: 'json',
            type: 'GET',
            data: {'detail_id': _detail_id},
            success: function (response) {
                $('#lending').html(response.grid);
            },
            fail: function (response) {
                console.log("error");
            }
        });
    });
    $(document).on('click', '.btn-change', function () {

        let _detail_id = $(this).attr('pk');
        $('#lending').empty();
        $.ajax({
            url: '/sales/get_order_detail_for_ball_change/',
            async: true,
            dataType: 'json',
            type: 'GET',
            data: {'detail_id': _detail_id},
            success: function (response) {
                $('#lending').html(response.grid);
            },
            fail: function (response) {
                console.log("error");
            }
        });
    });

    {#LLAMAR A EL MODAL DE GASTOS#}

    $(document).on('click', '.btn-expense', function () {
        let _order_id = $(this).attr('pk');

        let $tr = $('#table-dictionary').find('tr[info="' + _order_id + '"]');

        let $td_pilot = $tr.find('td.pilot').text();
        let $td_plate = $tr.find('td.plate').text();

        let $td_pay_loan = $tr.find('td.pay-loan-rest').text();

        $('#lending').empty();
        $.ajax({
            url: '/sales/get_expenses/',
            async: true,
            dataType: 'json',
            type: 'GET',
            data: {'_order_id': _order_id},
            success: function (response) {
                $('#expense').html(response.grid);
                $('#id_driver').val($td_pilot);
                $('#id_plate').val($td_plate);
                $('#id_order').val(_order_id);
                $('.pay-loan').val($td_pay_loan);
            },
            fail: function (response) {
                console.log("error");
            }
        });
    });

    $("#table-to-excel").click(function () {
        $("#table-dictionary").table2excel({
            // exclude CSS class
            exclude: ".noExl",
            name: "Worksheet GLP",
            filename: "kardex_glp",//do not include extension
            fileext: ".xlsx", // file extension
            preserveColors: true

        });
    });

    $("#get-pdf").on("click", function () {

        $.ajax({
            url: '/sales/account_order_list_pdf/',
            type: 'GET',
            data: {
                'pk': {{ client_obj.id }},
            },
            success: function (response, textStatus, xhr) {
                if (xhr.status === 200) {
                    toastr.success(response['message'], '¡Bien hecho!');
                }

            },
            fail: function (response) {
                console.log("error");
            }
        });
    });

    $('#table-dictionary').each(function () {

        let count2 = $(this).find("td.body-spending button").length;
        if (count2 === 0) {
            $(this).find("td.head-spending").remove()
            $(this).find("td.body-spending").remove()
            $(this).find("td.colcount").attr('colspan', '22')
        }
    });

</script>
