



    <div class="card-header">
        Productos
    </div>

    <div class="card-body" style="/*background-color: rgba(0,123,255,.5)!important;*/">

        <div class="card mb-3 border-0">
            <div class="card-body"
                 style="background-color: rgba(0,123,255,.25)!important;border: 1px solid rgba(0,123,255,.25);">

                <input type="text" class="form-control form-control-sm quicksearch" placeholder="Search"/>
                <!-- <select placeholder="Search" class="form-control quicksearch">
                    <option selected>Seleccione un Producto...</option>
                    <option>...</option>
                </select> -->

            </div>
        </div>

        <div class="container p-0" id="grid-products" style="height: 500px;">

            <div class="row grid">
                {% for product in products %}

                    <div class="col-sm-4 pt-0 pb-3 pr-0 element-item" data-category="{{ product.name }}">

                        <div class="card h-100" style="background-color: #b8daff;">

                            <div class="card-body">
                                <img src="{{ product.photo_thumbnail.url }}" class="img-thumbnail mx-auto d-block"
                                     alt="{{ product.photo }}">

                                <h3 class="card-title display-4 text-center mt-2"
                                    style="font-size: 0.9rem;text-transform: uppercase;height: 50px;">
                                    {{ product.name }}
                                </h3>
                                <div class="card-text">
                                    <p class="text-primary mb-0 small text-uppercase">Codigo: {{ product.code }}
                                        - {{ product.id }}</p>

                                    {% if sales_store %}

                                        {% for pstore in product.productstore_set.all %}

                                            {% if pstore.subsidiary_store.id == sales_store.id %}
                                                <p class="text-primary mb-0 small text-uppercase">
                                                    Stock: {{ pstore.stock }}</p>
                                            {% endif %}
                                        {% empty %}
                                            <p class="text-danger mb-0 small text-uppercase">Stock: 0</p>
                                        {% endfor %}
                                    {% else %}
                                        <p class="text-danger mb-0 small text-uppercase">Stock: 0</p>
                                    {% endif %}

                                    {% for pdetail in product.productdetail_set.all %}

                                        {% if pdetail.quantity_minimum == 1 %}
                                            <p class="text-primary mb-0 small text-uppercase">P.U. : {{ pdetail.get_price_sale_with_dot }} [{{ pdetail.unit.name }}]</p>
                                        {% endif %}
                                    {% empty %}
                                        <p class="text-danger mb-0 small text-uppercase">Precio Unitario: 0</p>
                                    {% endfor %}


                                </div>
                            </div><!-- card-body -->

                            <div class="card-footer text-muted text-center">

                                <a class="btn btn-primary btn-sm text-white text-uppercase card-item-product"
                                   pk="{{ product.id }}" data-toggle="modal" data-target=".modal-rate">
                                    Ver Precios <i class="fas fa-tag fa-sm text-right"></i>
                                </a>

                            </div><!-- card-footer -->
                        </div>
                    </div><!-- element-item -->

                {% endfor %}
            </div><!-- row -->
        </div><!-- container -->

    </div>

<script type="text/javascript">
    {#posrenderizado#}
    {% if is_render %}
        $("#grid-products").mCustomScrollbar();
    {% endif %}
</script>
