{% extends 'home.html' %}

{% block title %}
    coronasoft.dev | Programaciones
{% endblock title %}

{% block body %}
    <div class="container-fluid my-3">

        <form class="form-inline" id="search-form" method="POST">
            {% csrf_token %}
            <label class="my-1 mr-2" for="id-cash">Sede :</label>
            <select class="custom-select my-1 mr-sm-2" id="id-subsidiary" name="subsidiary" required>
                <option value="" disabled selected>SELECCIONE...</option>

                {% for subsidiary in subsidiary_set %}
                    <option value="{{ subsidiary.pk }}">{{ subsidiary.name }}</option>
                {% endfor %}

            </select>

            <label class="my-1 mr-2" for="id-start-date">Fecha Inicial</label>
            <input type="date" class="form-control my-1 mr-sm-2" id="id-start-date" name="start-date"
                   value="{{ formatdate }}">

            <label class="my-1 mr-2" for="id-end-date">Fecha final</label>
            <input type="date" class="form-control my-1 mr-sm-2" id="id-end-date" name="end-date"
                   value="{{ formatdate }}">

            <button type="submit" class="btn btn-primary my-1">
                <i class="fas fa-search-dollar" id="btn-search"></i> Buscar
            </button>


        </form>

        <div id="programming-grid-list"></div>

    </div>


    <div class="modal fade"
         id="modalLegacyProgramming"
         tabindex="-1"
         aria-hidden="true">
    </div>

{% endblock body %}

{% block extrajs %}
    <script type="text/javascript">


        $('#search-form').submit(function (event) {
            event.preventDefault();

            let _data = new FormData($('#search-form').get(0));

            $("#btn-search").attr("disabled", "true");

            $.ajax({
                url: '/comercial/get_programming_query_list/',
                type: "POST",
                data: _data,
                cache: false,
                processData: false,
                contentType: false,
                success: function (response, textStatus, xhr) {
                    if (xhr.status === 200) {
                        $('#programming-grid-list').html(response.grid);
                        toastr.info(response['message'], '¡Bien hecho!');
                    }
                },
                error: function (jqXhr, textStatus, xhr) {
                    if (jqXhr.status === 500) {
                        toastr.error(jqXhr.responseJSON.error, '¡Inconcebible!');
                        $('#programming-grid-list').html('<div class="alert alert-info alert-dismissible fade show mt-3" role="alert">\n' +
                            '        <strong>Atencion!</strong> Tu debes ingresar una fecha primero.\n' +
                            '        <button type="button" class="close" data-dismiss="alert" aria-label="Close">\n' +
                            '            <span aria-hidden="true">×</span>\n' +
                            '        </button>\n' +
                            '    </div>');
                    }
                }
            });
            $("#btn-search").removeAttr("disabled", "false");
            $('#search-form').modal('hide');

        });


        $(document).on('click', '.add-legacy-programming', function () {

            let r = confirm("Desa compartir esta programación");

            if (r === true) {
                let search = $(this).attr('pk');
                $.ajax({
                    url: '/comercial/get_create_legacy_programming_form/',
                    dataType: 'json',
                    type: 'GET',
                    data: {'pk': search},
                    success: function (response, textStatus, xhr) {
                        if (xhr.status === 200) {
                            $('#modalLegacyProgramming').html(response.grid);
                            $('#modalLegacyProgramming').modal('show');
                        }
                    },
                    fail: function (response) {
                        console.log(response);
                    }
                });
            } else {
                $('#modalLegacyProgramming').modal('hide');
            }

        });


        $(document).on('click', '#btn-close', function () {

           $('#modalLegacyProgramming').modal('hide');

        });



    </script>
{% endblock extrajs %}
