{% extends 'home.html' %}

{% block title %}
    coronasoft.dev | Reporte de Encomiendas
{% endblock title %}

{% block body %}


    <div class="container-fluid">

        <div class="card montserrat" style="background: #3f51b526;">
            <div class="card-body pb-0 ">
                <form id="search-form" method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="id_date_initial" class="col col-form-label">Fecha inicial:</label>

                        <div class="col">
                            <input type="date"
                                   class="form-control"
                                   name="start-date"
                                   id="id_date_initial"
                                   value="{{ date_now }}" required>

                        </div>
                        <label for="id_date_final" class="col col-form-label">Fecha final:</label>
                        <div class="col">
                            <input type="date"
                                   class="form-control"
                                   name="end-date"
                                   id="id_date_final"
                                   value="{{ date_now }}" required>
                        </div>
                        <label class="col col-form-label" for="id-user">Usuario:</label>
                        <select class="custom-select col" id="id-user" name="user" required>
                            <option value="1">TODOS</option>
                            <option value="2">USUARIO</option>
                        </select>
                        <label class="col col-form-label" for="id-way-to-pay">Tipo de pago:</label>
                        <select class="custom-select col" id="id-way-to-pay" name="way_to_pay" required>
                            <option value="T">TODOS</option>
                            <option value="C">CONTADO</option>
                            <option value="D">PAGO DESTINO</option>
                        </select>
                        <label class="col col-form-label" for="id-way-to-pay">Destino:</label>
                        <select class="custom-select col" id="id-destiny" name="destiny" required>
                            <option value="T">TODOS</option>
                            {% for s in subsidiaries_set %}
                                <option value="{{ s.id }}">{{ s.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="col">
                            <button type="submit" id="id_btn_show" class="btn btn-outline-primary">
                                <i class="fas fa-search"></i> Buscar
                            </button>
                            {#                            <button onclick="excelComodity();" class="btn  btn-outline-success"><span#}
                            {#                                    class="fa fa-file-excel"></span> Exportar excel#}
                            {#                            </button>#}
                        </div>

                    </div>
                </form>
            </div>
        </div>

        <div class="card-group mt-3">
            <div class="card" style="flex-grow: 1">
                <div class="card-body mt-1">

                    <div class="table-responsive pt-1" id="manifest-grid-list"></div>

                </div>
            </div>
        </div>


    </div>

    {#MODAL DE CAMBIO DE SUCURSAL#}
    <div class="modal fade" id="modal-changedestiny" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">

        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title" id="exampleModalLabel1">CAMBIAR DESTINO DE LA ENCOMIENDA:</h5>
                    <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="change-destiny">
                    ...
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

    {#MODAL DE CAMBIO DE TIPO DE PAGO#}
    <div class="modal fade" id="modal-changetypepay" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">

        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title" id="exampleModalLabel1">CAMBIAR TIPO DE PAGO:</h5>
                    <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="change-way-to-pay">
                    ...
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>



{% endblock body %}

{% block extrajs %}

    <script type="text/javascript">


        $('#search-form').submit(function (event) {
            event.preventDefault();
            let _data = new FormData($('#search-form').get(0));
            $.ajax({
                url: '/comercial/report_comodity_grid/',
                type: "POST",
                data: _data,
                cache: false,
                processData: false,
                contentType: false,
                success: function (response, textStatus, xhr) {
                    if (xhr.status === 200) {
                        $('#manifest-grid-list').html(response.grid);
                        toastr.info(response['message'], '¡Bien hecho!');
                    }
                },
                error: function (jqXhr, textStatus, xhr) {
                    if (jqXhr.status === 500) {
                        toastr.error(jqXhr.responseJSON.error, '¡Inconcebible!');
                    }
                }
            });
        });

        function excelComodity() {

            $("#table-comodity").table2excel({
                // exclude CSS class
                exclude: ".noExl",
                name: "Worksheet Encomiendas",
                filename: "Encomiendas",//do not include extension
                fileext: ".xlsx", // file extension
                preserveColors: true

            });
        }

        $(document).on('click', '.btn-cancel', function () {

            let $row = $(this).parent('td').parent('tr');
            let $o_id = $row.attr('pk');
            $('#table-comodity tr[pk="' + $o_id + '"]').addClass('bg-warning');

            setTimeout(() => {
                let r = confirm("¿ESTA SEGURO DE ANULAR LA ENCOMIENDA?");
                if (r === true) {
                    let pk = $(this).attr("pk")
                    $.ajax({
                        url: '/comercial/cancel_commodity/',
                        async: true,
                        dataType: 'json', // for response
                        type: 'GET',
                        data: {
                            'pk': pk,
                            'start-date': $('#id_date_initial').val(),
                            'end-date': $('#id_date_final').val()
                        },
                        contentType: 'application/json;charset=UTF-8',
                        headers: {"X-CSRFToken": '{{ csrf_token }}'},
                        success: function (response, textStatus, xhr) {
                            if (xhr.status === 200) {
                                toastr.success(response.message, '¡ENCOMIENDA ACTUALIZADA CORRECTAMENTE!');
                                $('#table-comodity tr[pk="' + $o_id + '"]').remove();
                            }
                        },
                        fail: function (response) {
                            toastr.error("Error. ", '¡Inconcebible!');
                        }
                    });
                } else {
                    $('#table-comodity tr[pk="' + $o_id + '"]').removeClass('bg-warning');

                }
            }, 50);
        });

    </script>

{% endblock extrajs %}
