<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header text-center  bg-light">
            <h6 class="modal-title roboto-condensed-regular  text-uppercase font-weight-bold">Paradas</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>


        <form id="new-road-form" autocomplete="off">

            {% csrf_token %}

            <div class="modal-body ">

                <input type="hidden" id="id-path-detail" name="path-detail" value="{{ path_detail_obj.id }}">
                <input type="hidden" id="id-path" name="path" value="{{ path_obj.id }}">


                <div class="form-group">
                    <label for="id-origin"
                           class="roboto-condensed-regular text-uppercase text-dark font-weight-bold">Origen:
                    </label>

                    <select class="form-control roboto-condensed-light"
                            id="id-origin"
                            name="origin"
                            required>
                        {% for origin in subsidiary_set %}
                            <option value="{{ origin.id }}"
                                    {% if path_detail_obj.get_origin.id == origin.id %}selected{% endif %}>{{ origin.name }}</option>
                        {% endfor %}

                    </select>


                </div>

                <div class="form-group">
                    <label for="id-destiny"
                           class="roboto-condensed-regular text-uppercase text-dark font-weight-bold">Destino:
                    </label>

                    <select class="form-control roboto-condensed-light"
                            id="id-destiny"
                            name="destiny"
                            required>
                        {% for destiny in subsidiary_set %}
                            <option value="{{ destiny.id }}"
                                    {% if path_detail_obj.get_destiny.id == destiny.id %}selected{% endif %}>{{ destiny.name }}</option>
                        {% endfor %}

                    </select>

                </div>

                <div class="form-group">
                    <label for="id-stopping"
                           class="roboto-condensed-regular text-uppercase text-dark font-weight-bold">Orden:
                    </label>
                    <input type="text"
                           class="form-control roboto-condensed-light"
                           id="id-stopping"
                           value="{{ path_detail_obj.stopping }}"
                           name="stopping">
                </div>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary roboto-condensed-light" data-dismiss="modal">Salir
                </button>
                {% if path_detail_obj %}
                    <button type="submit" id="btn-road-update" class="btn btn-success roboto-condensed-light">Guardar
                        Cambios
                    </button>
                {% else %}
                    <button type="submit" id="btn-road-save" class="btn btn-dark roboto-condensed-light">Guardar
                    </button>
                {% endif %}

            </div>

        </form>

    </div>
</div>

<script type="text/javascript">

    $("#new-road-form").submit(function (event) {

        event.preventDefault();

        let data = new FormData($('#new-road-form').get(0));


        $("#btn-road-save").attr("disabled");

        $.ajax({
            url: '/comercial/new_road/',
            type: "POST",
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            success: function (response, textStatus, xhr) {
                if (response.success) {
                    toastr.success(response.message, '¡Bien hecho!');
                    $('#path-grid-list').html(response.grid);
                    $('#modalPath').modal('hide');
                }
            },
            error: function (jqXhr, textStatus, xhr) {
                toastr.error(jqXhr.responseJSON.error, '¡Ocurrio un error!');
            }

        });//end ajax


    });


    $('#btn-road-update').on('click', function (event) {
        event.preventDefault();

        let _data = new FormData($('#new-road-form').get(0));

        $.ajax({
            url: '/comercial/update_road/',
            type: "POST",
            data: _data,
            cache: false,
            processData: false,
            contentType: false,
            success: function (response, textStatus, xhr) {
                if (xhr.status === 200) {
                    $('#path-grid-list').html(response.grid);
                    $('#modalPath').modal('hide');
                    toastr.success(response['message'], '¡Bien hecho!');
                }
            },
            error: function (jqXhr, textStatus, xhr) {
                if (jqXhr.status === 500) {
                    toastr.error(jqXhr.responseJSON.error, '¡Inconcebible!');
                }
            }
        });
    });

</script>