<table class="table table-info table-striped align-content-center table-bordered  table-details" style="width: 85%">
    <thead>
        <tr  class="text-center bg-info text-white m-0 p-0" >
            <td class="text-center">Producto</td>
            <td class="text-center">Cantidad</td>
            <td class="text-center">Unidad</td>
            <td class="text-center">Tipo</td>
            <td class="text-center">Operacion</td>
        </tr>
    </thead>
    <tbody>
    {% for dt in details %}
        <tr class="table-primary">
            <td>{{ dt.product.name }}</td>
            <td class="text-right item-quantity"> {{ dt.quantity|floatformat:2 }}</td>
            <td class="text-center">{{ dt.unit.description }}</td>
            <td class="text-center">{{ dt.get_type_display }}</td>
            <td class="text-center">{{ dt.get_type_display }}</td>
        </tr>
    {% endfor %}
    <tr class="bg-info text-white">
        <td class="text-center">Total Balones</td>
        <td class="text-right">{{ details.last.calculate_total_b_quantity|default:"0.00" }}</td>
        <td class="text-center" colspan="2">Responsable:  {{ details.last.distribution_mobil.pilot.full_name }}</td>
    </tr>
    </tbody>
</table>
<script>

    $('.table-details tbody tr td').each(function () {
        let _str = $(this).text();
        _str = _str.replace(',', '.');
        $(this).text(_str);
    });
    /*
    let _total=0
    $('.table-details tbody tr td.item-quantity').each(function () {
        let iterator = parseFloat($(this).text());
        _total = _total + iterator;
        if ()
        {

        }
    });

 */

</script>