<div class="modal-dialog modal-dialog-centered" role="document">

    <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title">Editar plato: {{ object }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form id="dish-update-form" action="{% url 'dishes:json_dish_edit' object.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="modal-body">

                {% for field in form %}

                <div class="form-group row">

                    <label for="{{field.id_for_label}}" class="col-sm-3 col-form-label">
                        {{field.label}}
                    </label>

                    <div class="col-md-9 pull-left">
                        {{ field }}

                        {% if field.help_text %}
                        <small id="{{field.name}}HelpInline" class="form-text text-muted">
                            {{ field.help_text }}
                        </small>
                        {% endif %}

                        {% for error in field.errors %}
                        <div class="invalid-feedback">
                            {{error}}
                        </div>
                        {% endfor %}

                    </div>

                    <!-- form-group row -->
                </div>

                {% endfor %}

                <!-- modal-body -->
            </div>


            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                &nbsp;
                <button id="btn-dish-update-submit" type="submit" class="btn btn-warning">Guardar</button>

            </div>

        </form>

    </div>
</div>
<script type="text/javascript">

    $("#dish-update-form").submit(function (event) {
        //stop submit the form, we will post it manually.
        event.preventDefault();
        // Create an FormData object
        var data = new FormData($('#dish-update-form').get(0));
        // disabled the submit button
        $("#btn-dish-update-submit").attr("disabled");
        //alert("SUBMIT");
        $.ajax({
            //Cómo podemos ver, mediante el uso de JQuery, estamos haciendo una solicitud POST a la url
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            enctype: 'multipart/form-data', //  It is required when you send files via regular forms, but since this will be sent via ajax it’s not needed.
            data: data,
            cache: false, //If set to false, it will force requested pages not to be cached by the browser.
            processData: false, // Important!, it prevent jQuery form transforming the data into a query string
            contentType: false, //Es imperativo que establezca la opción contentType en false, forzando a jQuery a no agregar un encabezado Content-Type
            success: function (response, textStatus, xhr) {
                //Recibe un json serializado
                console.log(textStatus);

                if(xhr.status==200){

                    var parse = JSON.parse(response);

                    dish_id = parse['dish'].id;
                    dish_name = parse['dish'].name;
                    dish_image = parse['dish'].image;
                    dish_price = parse['dish'].price;

                    console.log("dish_name: " + dish_name);
                    toastr.success('Actualizado con exito.','¡Bien hecho!');

                    $.ajax({
                        url: '{% url 'dishes:json_dish_list' %}',
                        async: true,
                        dataType: 'json',
                        type: 'GET',
                        // data: {'search': search},
                        success: function (response) {
                            toastr.success('Contenido cargado con exito.','¡Bien hecho!');
                            $("#dish-grid-list").html(response.result);
                            refreshTable();
                        },
                        fail: function (response) {
                            toastr.error ("Error. ", '¡Inconcebible!');
                        }
                    });


                }

                $("#btn-dish-update-submit").removeAttr("disabled");
                $('#edition').modal('hide');
            },
            error : function(jqXhr, textStatus, xhr) { // provide a bit more info about the error to the console

                if(jqXhr.status==500){

                    error = jqXhr.responseJSON.error;

                    if (typeof jqXhr.responseJSON.form_invalid.name !== undefined || jqXhr.responseJSON.form_invalid.name !== null) {
                        toastr.error (jqXhr.responseJSON.form_invalid.name, '¡Inconcebible!');
                    }
                }
                else{
                    console.log(" STATUS: " + xhr + " " + textStatus);
                }

                $("#btn-dish-update-submit").removeAttr("disabled");
                $('#edition').modal('hide');
            }
        });//end ajax
    }); //end submit

</script>
