<form id="new-employee-form" action="{% url 'dishes:employee_create' %}" method="POST">


    <div class="row">
        <div class="col-sm-12">

            <table class="table table-sm">
                <tr>
                    <td>Documento:</td>
                    <td><input type="number" class="form-control" id="id_documento"
                               name="documento"
                               placeholder="Documento">
                    </td>
                    <td colspan="2" rowspan="3" class="text-center">
                        <img id="blah" class="img-thumbnail" src="http://placehold.it/150x150">
                    </td>
                </tr>
                <tr>
                    <td>Fecha Nacimiento:</td>
                    <td><input type="date" class="form-control" id="id_fechanacimiento"
                               name="fechanacimiento"
                               placeholder="Nacimiento" required>
                    </td>

                </tr>
                <tr>
                    <td>Estado:</td>
                    <td><input class="form-check-input m-0" type="checkbox" value=""
                                                   id="defaultCheck1"></td>
                </tr>
                <tr>
                    <td>Paterno:</td>
                    <td><input type="text" class="form-control" id="id_paterno"
                               name="paterno"
                               placeholder="Paterno" required>
                    </td>
                    <td>
                        <button type="submit" id="btn-save"
                                class="btn btn-primary btn-block pb-1 programming-save">Nuevo
                        </button>

                    </td>
                </tr>
                <tr>
                    <td>Materno:</td>
                    <td><input type="text" class="form-control" id="id_materno"
                               name="materno"
                               placeholder="Materno" required></td>
                    <td>
                        <button type="submit" id="btn-save"
                                class="btn btn-primary btn-block pb-1 programming-save">Guardar
                        </button>

                    </td>
                </tr>
                <tr>
                    <td>Nombres:</td>
                    <td><input type="text" class="form-control" id="id_nombres"
                               name="nombres"
                               placeholder="Nombres" required></td>
                    <td>
                        <button type="submit" id="btn-save"
                                class="btn btn-primary btn-block pb-1 programming-save">Actualizar
                        </button>

                    </td>
                </tr>

                <tr>
                    <td>Telefono:</td>
                    <td><input type="number" class="form-control" id="id_telefono"
                               name="telefono"
                               placeholder="Telefono"></td>
                </tr>
                <tr>
                    <td>Correo:</td>
                    <td><input type="email" class="form-control" id="id_correo"
                               name="Correo"
                               placeholder="migas@correo.com" required>
                    </td>
                </tr>
                <tr>
                    <td>Sucursal:</td>
                    <td><select class="form-control" id="id_truck" name="truck" required>
                        <option {% if subsidiary_obj is None %}selected{% endif %} disabled value="">
                            Seleccione
                        </option>
                        {% for truck in trucks %}
                            <option value="{{ Subsidiary.id }}">
                                {{ Subsidiary.name }}
                            </option>
                        {% endfor %}
                    </select></td>
                </tr>
                <tr>
                    <td>Ocupacion:</td>
                    <td><select class="form-control" id="id_truck" name="truck" required>
                        <option {% if ocupation_obj is None %}selected{% endif %} disabled value="">
                            Seleccione
                        </option>
                        {% for truck in trucks %}
                            <option value="{{ Occupation.id }}">
                                {{ Occupation.name }}
                            </option>
                        {% endfor %}
                    </select></td>
                </tr>
            </table>

        </div>
    </div>
</form>
