<div class="modal-dialog modal-dialog-centered" role="document">

  <div class="modal-content">

    <div class="modal-header">
      <h5 class="modal-title">Confirmación de eliminación</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <form action="{% url 'dishes:subcategory_delete' object.id %}" method="POST">
      {% csrf_token %}

      <div class="modal-body">

        <div class="text-center mt-4 mb-4">
          <p><strong>¿Desea eliminar el registro {{ object }}?</strong></p>
        </div>

      <!-- modal-body -->
      </div>


      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        &nbsp;
        <button type="submit" class="btn btn-danger">Guardar</button>

      </div>

    </form>

  </div>
</div>
