{% load static %}
<header class="header-mobile header-mobile-2 d-block d-lg-none">
    <div class="header-mobile__bar">
        <div class="container-fluid">
            <div class="header-mobile-inner">
                <a class="logo" href="index.html">
                    <img src="{% static 'images/icon/isotype2.png' %}" alt="TRANSPORTES" width="80" />
                </a>
                <button class="hamburger hamburger--slider" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <nav class="navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">

                <li>
                    <a href="{% url 'hrm:employee_list' %}"><i class="far fa-address-card"></i>
                        <span class="bot-line"></span>Empleados</a>
                </li>

                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-th-list"></i> Encomiendas
                    </a>
                    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                        <li><a href="{% url 'comercial:new_guide' %}"><i class="fas fa-pen-square"></i>Emisión de Encomiendas</a></li>
                            <li><a href="{% url 'comercial:manifest_comodity_list' %}"><i class="fas fa-bars"></i> Listado de Encomiendas por Asignar</a></li>
                            <li><a href="{% url 'comercial:report_comodity_grid' %}"><i class="fas fa-list-alt"></i>Reporte de Encomiendas</a></li>
                            <li><a href="{% url 'comercial:receive_manifests' %}"><i class="fas fa-clipboard-list"></i>Recepción Encomiendas</a></li>
                            <li><a href="{% url 'comercial:report_manifest_grid' %}"><i class="fas fa-file-alt"></i> Reporte de Manifiestos</a></li>
                    </ul>
                </li>

                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-search"></i> Programaciones
                    </a>
                    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                        <li><a href="{% url 'comercial:programming_list' %}"><i class="fas fa-bus"></i>Programar Viaje</a></li>
                            <li><a href="{% url 'comercial:get_programming_query_list' %}"><i class="fas fa-search"></i> Consultar programaciones</a></li>
                            <li><a href="{% url 'comercial:get_ticket_inquiry_list' %}"><i class="fas fa-search"></i> Consultar boletos de pasajeros</a></li>
{#                            <li><a href="{% url 'comercial:get_manifest_passenger_inquiry_list' %}"><i class="fas fa-search"></i> Consultar manifiestos de pasajeros</a></li>#}
                            <li><a href="{% url 'comercial:get_path_list' %}"><i class="fas fa-route"></i>Rutas y destinos</a></li>
                            <li><a href="{% url 'comercial:get_postponements' %}"><i class="fas fa-random"></i> Postergaciones y Anulaciones</a></li>

                            <li><a href="{% url 'comercial:truck_list' %}"><i class="fas fa-th-list"></i> Listado de Unidades</a></li>
{#                            <li><a href="{% url 'comercial:towing_list' %}"><i class="fas fa-th-list"></i> Listado de Remolques</a></li>#}
                    </ul>
                </li>

                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-random"></i> Finanzas
                    </a>
                    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                        <li><a href="{% url 'accounting:get_cash_control_list' %}"><i class="fas fa-cash-register"></i> Control de caja</a></li>
{#                            <li><a href="{% url 'accounting:get_bank_control_list' %}"> Control de ctas bancarias</a></li>#}

{#                            <li><a href="{% url 'accounting:get_account_list' %}"> Cuadro de cuentas</a></li>#}
                            <li><a href="{% url 'sales:client_list' %}"><i class="fas fa-users"></i> Clientes</a></li>
                    </ul>
                </li>

                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-list-alt"></i> Reportes
                    </a>
                    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                        <li><a href="{% url 'hrm:get_expiration_report' %}"><i class="far fa-address-card"></i>Licencias de conducir</a></li>
                            <li><a href="{% url 'comercial:report_expiration_soat_and_technical' %}"><i class="far fa-file"></i>Soat y Revisión técnica</a></li>
                            <li><a href="{% url 'comercial:departures_of_month' %}"><i class="fas fa-external-link-square-alt"></i>Salidas del Mes</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
</header>
<div class="sub-header-mobile-2 d-block d-lg-none">
    <div class="header__tool">

        <div class="account-wrap">
            <div class="account-item account-item--style2 clearfix js-item-menu">
                <div class="image">
                    <img src="{% static 'images/icon/default-avatar.jpg' %}" alt="John Doe" />
                </div>
                <div class="content">
                    <a class="js-acc-btn" href="#">{{ user.worker_set.last.employee.full_name | upper }}</a>
                </div>
                <div class="account-dropdown js-dropdown">
                    <div class="info clearfix">
                        <div class="image">
                            <a href="#">
                                <img src="{% static 'images/icon/default-avatar.jpg' %}" alt="John Doe" />
                            </a>
                        </div>
                        <div class="content">
                            <h5 class="name">
                                <a href="#">{{ user.worker_set.last.employee.full_name | upper }}</a>
                            </h5>
                            <span class="email">{{ user.worker_set.last.establishment_set.last.subsidiary.name }}</span>
                        </div>
                    </div>

                    <div class="account-dropdown__footer">
                        <a href="{% url 'logout' %}"><i class="zmdi zmdi-power"></i>Cerrar Sesion</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>