<style>

    .details{

    }
    .details th{
        font-family: continuum_lightregular;
        font-weight: 600 !important;
        font-size: 0.7rem !important;
        text-align: center;
        vertical-align: middle;

        width:20%;
    }
    .details th:first-child{
        width:10%;
    }
    .details th:nth-child(2){
        width:30%;
    }
    .details td{
        font-size: 0.65rem !important;
        text-align: center;
        vertical-align: middle;
    }


    .details input[type="number"]{
    {#        border: 1px solid #e0e0e0 !important;#}
        border-color: #ffffff !important;
        font-weight: 100;
        font-size: xx-large;
        margin-left: 18px;
        width: 48%;
    }
    .details .spinner input{
        font-size: large;
        padding-top: 0;
        padding-bottom: 0;
        box-shadow: none;
    }
    .details .md-form {
        margin-top: 0;
    }
    .ui-autocomplete-input {
        text-transform: uppercase;
    }

    .details .spinner input[type=text]:focus:not([readonly]){
        border: 0;
        box-shadow: none;
    }

    ul.batches li.list-group-item .badge-primary {
        background-color: #AD1457!important;
    }
</style>
{% load static %}
{% block content %}
    {% if sale %}

        <table class="table table-striped table-sm details"  id="">
            <thead>
            <tr>
                <th>#</th>
                <th>PRODUCTO</th>
                <th>PRECIO</th>
                <th>CANTIDAD</th>
                <th>SUBTOTAL</th>
            </tr>
            </thead>
            <tbody>
                {% for detail in sale.detail_sales.all %}
                    {% if detail.product_return == None %}
                <tr>
                    <td>{{ sale.pk }}</td>
                    <td>{{ detail.product.name|upper }}<br>
                        <ul class="list-group batches">
                            {% for batch_detail in detail.acquisitions.all %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">{{ batch_detail.batch.barcode }}
                                <span class="badge badge-primary badge-pill">{{ batch_detail.quantity }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <div class="input-group spinner" data-trigger="spinner">
                            <div class="input-group-prepend">
                                <span class="input-group-text">S/</span>
                            </div>
                            <input type="text" class="form-control form-control-sm text-right price" readonly data-rule="currency" data-min="{{ detail.rate|floatformat }}" value="{{ detail.rate|floatformat }}">

                        </div>
                    </td>
                    <td>
                        <div class="input-group spinner" data-trigger="spinner">
                            <input type="text" class="form-control form-control-sm text-center quantity" readonly data-rule="quantity" data-min="{{ detail.quantity_ordered }}" value="{{ detail.quantity_ordered }}">

                        </div>
                    </td>
                    <td>
                        <div class="input-group spinner" data-trigger="spinner">
                            <div class="input-group-prepend">
                                <span class="input-group-text">S/</span>
                            </div>
                            <input type="text" class="form-control form-control-sm text-right rode" readonly data-rule="currency" data-min="{{ detail.amount|floatformat }}" value="{{ detail.amount|floatformat }}">

                        </div>
                    </td>

                </tr>
                    {% endif %}
                {% endfor %}

                <tr class="charged">
                    <th scope="row" colspan="3"></th>
                    <td>COBRADO</td>
                    <td>

                        <div class="input-group spinner" data-trigger="spinner">
                            <div class="input-group-prepend">
                                <span class="input-group-text">S/</span>
                            </div>
                            <input type="text" class="form-control form-control-sm text-right" readonly data-rule="currency" value="{{ sale.charged|floatformat }}">

                        </div>


                    </td>
                </tr>
                <tr class="received">
                    <th scope="row" colspan="3"></th>
                    <td>RECIBIDO</td>
                    <td>

                        <div class="input-group spinner" data-trigger="spinner">
                            <div class="input-group-prepend">
                                <span class="input-group-text">S/</span>
                            </div>
                            <input type="text" class="form-control form-control-sm text-right" data-rule="currency" value="{{ sale.received|floatformat }}">

                        </div>


                    </td>
                </tr>
                <tr class="turned">
                    <th scope="row" colspan="3">COLABORADOR: {{ sale.employee.user.get_full_name|upper }}</th>
                    <td>VUELTO</td>
                    <td>


                        <div class="input-group spinner" data-trigger="spinner">
                            <div class="input-group-prepend">
                                <span class="input-group-text">S/</span>
                            </div>
                            <input type="text" class="form-control form-control-sm text-right" readonly data-rule="currency" value="{{ sale.turned|floatformat }}">

                        </div>

                    </td>
                </tr>


            </tbody>
        </table>
        <h4 class="card-title"><a>Devoluciones previas</a></h4>
        <table class="table table-striped table-sm table-sales-returns">
            <thead>
            <tr>
                <th>FECHA</th>
                <th>PRECIO</th>
                <th>CANTIDAD</th>
                <th>SUBTOTAL</th>
            </tr>
            </thead>
            <tbody>
                {% for detail in sale.detail_sales.all %}
                    {% if detail.product_return %}
                <tr>
                    <td>
                        {{ detail.product_return.created_at|date:'d/m/Y' }}<br>
                        {{ detail.product_return.created_at|date:'h:i a' }}
                    </td>
                    <td>
                        <div class="input-group spinner" data-trigger="spinner">
                            <div class="input-group-prepend">
                                <span class="input-group-text">S/</span>
                            </div>
                            <input type="text" class="form-control form-control-sm text-right rate" readonly data-rule="currency" data-min="{{ detail.rate|floatformat }}" value="{{ detail.rate|floatformat }}">

                        </div>
                    </td>
                    <td>
                        <div class="input-group spinner" data-trigger="spinner">
                            <input type="text" class="form-control form-control-sm text-center quantity" readonly data-rule="quantity" data-min="{{ detail.quantity_received }}" value="{{ detail.quantity_received }}">

                        </div>
                    </td>
                    <td>
                        <div class="input-group spinner" data-trigger="spinner">
                            <div class="input-group-prepend">
                                <span class="input-group-text">S/</span>
                            </div>
                            <input type="text" class="form-control form-control-sm text-right amount" readonly data-rule="currency" data-min="{{ detail.amount|floatformat }}" value="{{ detail.amount|floatformat }}">

                        </div>
                    </td>

                </tr>
                    {% endif %}
                {% endfor %}


            </tbody>
        </table>
    {% else %}
        {% if purchase %}
            <table class="table table-striped table-sm details"  id="">
            <thead>
            <tr>
                <th>#</th>
                <th>PRODUCTO</th>
                <th>PRECIO</th>
                <th>CANTIDAD</th>
                <th>IMPORTE</th>
            </tr>
            </thead>
            <tbody>
                {% for detail in purchase.detail_purchases.all %}
                    {% if detail.product_return == None %}
                <tr>
                    <td>{{ purchase.pk }}</td>
                    <td>{{ detail.product.name|upper }}<br>
                        <ul class="list-group batches">
                            {% for batch_detail in detail.acquisitions.all %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">{{ batch_detail.batch.barcode }}
                                <span class="badge badge-primary badge-pill">{{ batch_detail.quantity }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <div class="input-group spinner" data-trigger="spinner">
                            <div class="input-group-prepend">
                                <span class="input-group-text">S/</span>
                            </div>
                            <input type="text" class="form-control form-control-sm text-right price" readonly data-rule="currency" data-min="{{ detail.rate|floatformat }}" value="{{ detail.rate|floatformat }}">

                        </div>
                    </td>
                    <td>
                        <div class="input-group spinner" data-trigger="spinner">
                            <input type="text" class="form-control form-control-sm text-center quantity" readonly data-rule="quantity" data-min="{{ detail.quantity_ordered }}" value="{{ detail.quantity_ordered }}">

                        </div>
                    </td>
                    <td>
                        <div class="input-group spinner" data-trigger="spinner">
                            <div class="input-group-prepend">
                                <span class="input-group-text">S/</span>
                            </div>
                            <input type="text" class="form-control form-control-sm text-right rode" readonly data-rule="currency" data-min="{{ detail.amount|floatformat }}" value="{{ detail.amount|floatformat }}">

                        </div>
                    </td>

                </tr>
                    {% endif %}
                {% endfor %}

                <tr class="charged">
                    <th scope="row" colspan="3"></th>
                    <td>SUBTOTAL</td>
                    <td>

                        <div class="input-group spinner" data-trigger="spinner">
                            <div class="input-group-prepend">
                                <span class="input-group-text">S/</span>
                            </div>
                            <input type="text" class="form-control form-control-sm text-right" readonly data-rule="currency" value="{{ purchase.subtotal|floatformat }}">

                        </div>


                    </td>
                </tr>
                <tr class="received">
                    <th scope="row" colspan="3"></th>
                    <td>IGV</td>
                    <td>

                        <div class="input-group spinner" data-trigger="spinner">
                            <div class="input-group-prepend">
                                <span class="input-group-text">S/</span>
                            </div>
                            <input type="text" class="form-control form-control-sm text-right" data-rule="currency" value="{{ purchase.igv|floatformat }}">

                        </div>


                    </td>
                </tr>
                <tr class="turned">
                    <th scope="row" colspan="3">DISTRIBUIDOR: {{ purchase.supplier.name|upper }}<br>COMPROBANTE: {{ purchase.operation_number|upper }}</th>
                    <td>TOTAL</td>
                    <td>


                        <div class="input-group spinner" data-trigger="spinner">
                            <div class="input-group-prepend">
                                <span class="input-group-text">S/</span>
                            </div>
                            <input type="text" class="form-control form-control-sm text-right" readonly data-rule="currency" value="{{ purchase.total|floatformat }}">

                        </div>

                    </td>
                </tr>


            </tbody>
        </table>

            <h4 class="card-title"><a>Devoluciones previas</a></h4>
        <table class="table table-striped table-sm table-sales-returns">
            <thead>
            <tr>
                <th>FECHA</th>
                <th>PRECIO</th>
                <th>CANTIDAD</th>
                <th>SUBTOTAL</th>
            </tr>
            </thead>
            <tbody>
                {% for detail in purchase.detail_purchases.all %}
                    {% if detail.product_return %}
                <tr>
                    <td>
                        {{ detail.product_return.created_at|date:'d/m/Y' }}<br>
                        {{ detail.product_return.created_at|date:'h:i a' }}
                    </td>
                    <td>
                        <div class="input-group spinner" data-trigger="spinner">
                            <div class="input-group-prepend">
                                <span class="input-group-text">S/</span>
                            </div>
                            <input type="text" class="form-control form-control-sm text-right rate" readonly data-rule="currency" data-min="{{ detail.rate|floatformat }}" value="{{ detail.rate|floatformat }}">

                        </div>
                    </td>
                    <td>
                        <div class="input-group spinner" data-trigger="spinner">
                            <input type="text" class="form-control form-control-sm text-center quantity" readonly data-rule="quantity" data-min="{{ detail.quantity_received }}" value="{{ detail.quantity_received }}">

                        </div>
                    </td>
                    <td>
                        <div class="input-group spinner" data-trigger="spinner">
                            <div class="input-group-prepend">
                                <span class="input-group-text">S/</span>
                            </div>
                            <input type="text" class="form-control form-control-sm text-right amount" readonly data-rule="currency" data-min="{{ detail.amount|floatformat }}" value="{{ detail.amount|floatformat }}">

                        </div>
                    </td>

                </tr>
                    {% endif %}
                {% endfor %}


            </tbody>
        </table>


        {% else %}
            No hay registros.
        {% endif %}
    {% endif %}

{% endblock %}

{% block script %}
    <script type="text/javascript">


    </script>
{% endblock %}
