{% load static %}



<ul class="collapsible collapsible-accordion" id="menu">

{#    <li class="CAJ ADM">#}
{#        <a class="collapsible-header waves-effect arrow-r get-page" href="javascript:void(0);" data-url="home">#}
{#            <i class="fa fa-home fa-3x"></i> Inicio <span class="sr-only">(current)</span>#}
{#        </a>#}
{#    </li>#}
    <li class="CAJ ADM">
        <a class="collapsible-header waves-effect arrow-r get-page" href="javascript:void(0);" data-url="products">
            <i class="fa fa-list fa-3x"></i> Productos
        </a>
    </li>
    <li class="ADM">
        <a class="collapsible-header waves-effect arrow-r get-page" href="javascript:void(0);" data-url="purchases">
            <i class="fa fa-shopping-basket fa-3x"></i> Compras
        </a>
    </li>

    <li class="CAJ ADM">
        <a class="collapsible-header waves-effect arrow-r get-page" href="javascript:void(0);" data-url="sales">
            <i class="fa fa-shopping-bag fa-3x"></i> Ventas
        </a>
    </li>
    <li class="ADM">
        <a class="collapsible-header waves-effect arrow-r get-page" href="javascript:void(0);" data-url="brands">
            <i class="fa fa-bookmark-o fa-3x"></i> Marcas
        </a>
    </li>
    <li class="ADM">
        <a class="collapsible-header waves-effect arrow-r get-page" href="javascript:void(0);" data-url="categories">
            <i class="fa fa-tags fa-3x"></i> Categorías
        </a>
    </li>
    <li class="ADM">
        <a class="collapsible-header waves-effect arrow-r get-page" href="javascript:void(0);" data-url="suppliers">
            <i class="fa fa-handshake-o fa-3x"></i> Proveedores
        </a>
    </li>
    <li class="CAJ ADM">
        <a class="collapsible-header waves-effect arrow-r get-page" href="javascript:void(0);" data-url="attendances">
            <i class="fa fa-clock-o fa-3x"></i> Asistencias
        </a>
    </li>
    <li class="ADM">
        <a class="collapsible-header waves-effect arrow-r get-page" href="javascript:void(0);" data-url="data_group">
            <i class="fa fa-archive fa-3x"></i> Entradas y Salidas
        </a>
    </li>

    <li class="CAJ ADM">
        <a class="collapsible-header waves-effect arrow-r get-page" href="javascript:void(0);" data-url="product_return">
            <i class="fa fa-reply fa-3x"></i> Devoluciones
        </a>
    </li>

    <li class="CAJ ADM">
        <a class="collapsible-header waves-effect arrow-r get-page" href="javascript:void(0);" data-url="expenses">
            <i class="fa fa-paper-plane fa-3x"></i> Egresos
        </a>
    </li>

    <li class="ADM">
        <a class="collapsible-header waves-effect arrow-r get-page" href="javascript:void(0);" data-url="reports">
            <i class="fa fa-bell fa-3x"></i> Reportes
        </a>
    </li>
    <li class="ADM">
        <a class="collapsible-header waves-effect arrow-r get-page" href="javascript:void(0);" data-url="employees">
            <i class="fa fa-users fa-3x"></i> Empleados
        </a>
    </li>
{#                        <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-eye"></i> About<i class="fa fa-angle-down rotate-icon"></i></a>#}
{#                            <div class="collapsible-body">#}
{#                                <ul class="list-unstyled">#}
{#                                    <li><a href="#" class="waves-effect">Introduction</a>#}
{#                                    </li>#}
{#                                    <li><a href="#" class="waves-effect">Monthly meetings</a>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </li>#}
{#                        <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-envelope-o"></i> Contact me<i class="fa fa-angle-down rotate-icon"></i></a>#}
{#                            <div class="collapsible-body">#}
{#                                <ul class="list-unstyled">#}
{#                                    <li><a href="#" class="waves-effect">FAQ</a>#}
{#                                    </li>#}
{#                                    <li><a href="#" class="waves-effect">Write a message</a>#}
{#                                    </li>#}
{#                                    <li><a href="#" class="waves-effect">FAQ</a>#}
{#                                    </li>#}
{#                                    <li><a href="#" class="waves-effect">Write a message</a>#}
{#                                    </li>#}
{#                                    <li><a href="#" class="waves-effect">FAQ</a>#}
{#                                    </li>#}
{#                                    <li><a href="#" class="waves-effect">Write a message</a>#}
{#                                    </li>#}
{#                                    <li><a href="#" class="waves-effect">FAQ</a>#}
{#                                    </li>#}
{#                                    <li><a href="#" class="waves-effect">Write a message</a>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </li>#}
</ul>

{% block script %}
    <script type="text/javascript">




    </script>
{% endblock %}
