<style>
    .mdl-cell.mdl-cell--6-col {
        width: fit-content;
        float: left;
        padding: 10px;
    }
    .th-md-10{
        width: 10% !important;
    }
    .th-md-25{
        width: 25% !important;
    }
    .th-md-20{
        width: 22% !important;
    }
    .list-products .form-inline{
        display: block;
    }
</style>
{% load static %}
{% block content %}
    {% if expenses %}
        <!--Table-->
        <table class="table table-striped table-bordered table-sm example-data-table mdl-data-table" >

            <!--Table head-->
            <thead class="border border-secondary secondary-color">
            <tr class="text-white">
                <th class="th-md-25" style="text-align: center;font-style: normal;font-weight: 300;">Descripción</th>
                <th class="th-md-25" style="text-align: center;font-style: normal;font-weight: 300;">Monto</th>
                <th class="th-md-25" style="text-align: center;font-style: normal;font-weight: 300;">Vendedor</th>
                <th class="th-md-25" style="text-align: center;font-style: normal;font-weight: 300;">Fecha de gasto</th>
                <th class="th-md-25" style="text-align: center;font-style: normal;font-weight: 300;">Fecha de creacion</th>
            </tr>
            </thead>
            <tbody>
            {% for expense in expenses.all %}
                    <tr>
                        <td style="text-align: center;vertical-align: middle;">{{ expense.description|upper }}</td>
                        <td style="text-align: center;vertical-align: middle;">
                        S/ <strong class="plan">{{ expense.rode|floatformat }}</strong>
                        </td>
                        <td style="text-align: center;vertical-align: middle;">{{ expense.employee.user.get_full_name|upper }}</td>
                        <td style="text-align: center;vertical-align: middle;">{{ expense.expense_date|date:'d/m/Y' }}</td>
                        <td style="text-align: center;vertical-align: middle;">{{ expense.created_at|date:'d/m/Y h:i a' }}</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No hay registros.
    {% endif %}

{% endblock %}

{% block script %}
    <script type="text/javascript">




        $('document').ready(function () {

            $('.example-data-table').DataTable({
                "language": datatable_language,
                columnDefs: [
                    {
                        targets: [ 0, 1, 2 ],
                        className: 'mdl-data-table__cell--non-numeric'
                    }
                ],
                "order": [ 4, 'desc' ]
            });
        });





    </script>
{% endblock %}
