{% load static %}

{% block content %}

    <div class="col-md-12">
        <div class="page-header text-center">
            <h1>{{ title }}</h1>
            <p class="lead">Todo para que comiences rápidamente</p>
        </div>
    </div>

    <div class="col-md-12 col-md-offset-1"><div id="alerts"></div></div>

{#    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">#}
{#        <!-- Material input -->#}
{#        <div class="md-form col-md-10">#}
{#            <i class="fa fa-search prefix"></i>#}
{#            <input type="text" id="form1" class="form-control">#}
{#            <label for="form1" >Buscar producto</label>#}
{#        </div>#}
{#        <div class="btn-toolbar mb-2 mb-md-0">#}
{##}
{##}
{##}
{#        </div>#}
{#    </div>#}
            <button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#left-modal">
                <i class="fa fa-shopping-cart fa-3x"></i>
                Nueva compra
            </button>
    <!-- Modal -->
{#    <div class="modal fade left" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
{#        <div class="modal-dialog modal-full-height modal-left modal-danger" role="document">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header secondary-color">#}
{#                    <h5 class="modal-title white-text" id="exampleModalLabel">Nuevo producto</h5>#}
{#                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                        <span aria-hidden="true">&times;</span>#}
{#                    </button>#}
{#                </div>#}
{#                <div class="modal-body">#}
{##}
{##}
{##}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}




<div class="modal fade top" id="left-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-full-height modal-top" role="document">
                    <!--Content-->
                    <div class="modal-content">
                        <!--Header-->
                        <div class="modal-header">
                            <h4 class="modal-title w-100" id="myModalLabel">Nueva compra</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <!--Body-->
                        <div class="modal-body"></div>
                        <!--Footer-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-blue-grey waves-effect waves-light" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-mdb-color waves-effect waves-light" id="save-purchase">Guardar cambios</button>
                        </div>
                    </div>
                    <!--/.Content-->
                </div>
</div>




<!-- Full Height Modal Right -->

<div class="col-md-12 col-md-offset-1 list-products"></div>
<div class="col-md-12 col-md-offset-1" id="receipt-print"></div>

{% endblock %}

{% block script %}
    <script>



    </script>
{% endblock %}

