{% load static %}

{% block content %}

    <div class="col-md-12">
        <div class="page-header text-center">
            <h1>{{ title }}</h1>
            <p class="lead">Todo para que comiences rápidamente</p>
        </div>
    </div>

    <div class="col-md-12"><div id="alerts"></div></div>

{#    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">#}
        <!-- Material input -->
{#        <div class="md-form col-md-10">#}
{#            <i class="fa fa-search prefix"></i>#}
{#            <input type="text" id="form1" class="form-control">#}
{#            <label for="form1" >Buscar producto</label>#}
{#        </div>#}

{#    </div>#}
{#        <div class="btn-toolbar mb-2 mb-md-0">#}
{% if role == 'ADM' %}
            <button id="add-item" type="button" class="btn-floating btn-lg btn-warning waves-light ADM" data-toggle="modal" data-target="#left-modal">
                <i class="fa fa-bookmark-o fa-3x"></i>
            </button>
{% endif %}
{#        </div>#}
    <!-- Modal -->
    <div class="modal fade left" id="left-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-success" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="heading lead">Nueva marcas</p>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">



                </div>
            </div>
        </div>
    </div>
<!-- Full Height Modal Right -->




<div class="modal fade right" id="right-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead">Editar marca</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>


<div class="col-md-12 list-products"></div>

{% endblock %}

{% block script %}
    <script>


    </script>
{% endblock %}

