{% load static %}

{% block content %}
    <div class="col-md-12">
        <div class="page-header text-center">
            <h1>{{ title }}</h1>
            <p class="lead">Todo para que comiences rápidamente</p>
        </div>
    </div>

    <div class="col-md-12 col-md-offset-1"><div id="alerts"></div></div>


    <div class="col-md-12 col-md-offset-1 list-products">

    <div class="row">

        <div class="col-md-6 offset-md-3">

                <div class="col-md-12 col-lg-12" id="div-mode">
                    <div class="form-group">
                        <select id="mode-selected" class="form-control">
                            <option selected="" value="EQUALS">de</option>
                            <option value="GREATER_THAN">después de</option>
                            <option value="LESS_THAN">antes de</option>
                            <option value="BETWEEN">Entre</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-12 col-lg-12" id="div-start-date">
                    <div class="form-group">
                        <input id="start-date" name="start-date" type="date" class="form-control input-md"
                               value="{{ date|date:'Y-m-d' }}">
                    </div>
                </div>

                <div class="col-md-12 col-lg-12"><div class="form-group select-end-date"></div></div>

            <div class="col-md-12 col-lg-12">
                    <div class="form-group">

                        <select id="branch-office-id" name="branch-office-id" class="custom-select custom-select-sm">
                        </select>
                    </div>
                </div>

                <div class="col-md-12 col-lg-12">
                    <div class="form-group">
                        <a class="btn btn-warning btn-block" name="register" id="register">Buscar</a>
                    </div>
                </div>
            </div>

    </div>


    </div>


        <div class="col-md-12 list-payments"></div>








{% endblock %}
{% block script %}
    <script type="text/javascript">

        $('document').ready(function () {
            getBranchOffice();
        });


        $('#register').click(function () {

            if (!$('#start-date').val()) {
                alert('Ingrese fecha de inicio');
                return;
            }
            if ($('#end-date').length && !$('#end-date').val()) {
                alert('Ingrese fecha final');
                return;
            }

            var search = $(this).attr('pk');
                console.log('start-date: ' + $('#start-date').val())
                console.log('end-date: ' + $('#end-date').val())
                $.ajax({
                    url: '/vetstore/get_group_payments/',
                    async: true,
                    dataType: 'json',
                    type: 'GET',
                    data: {
                        'start-date': $('#start-date').val(),
                        'end-date': $('#end-date').val(),
                        'mode': $('#mode-selected').val(),
                        'branch-office-id': $('#branch-office-id').val()
                    },
                    success: function (response) {
                        $('.list-payments').html(response.list);
                        $('#alerts').html(response.alert);

                    },
                    fail: function (response) {
                        $('#alerts').html(response.alert);
                    }
                });

        });
        $('#mode-selected').change(function () {

            var mode = $(this).val();

            if(mode == 'BETWEEN'){
                $('#div-start-date').attr('class','col-md-12 col-lg-12');
                $('#div-mode').attr('class','col-md-12 col-lg-12');
                $('.select-end-date').html(
{#                    '<label class="control-label" for="end-date">Hasta</label>'+#}
                    '<input id="end-date" name="end-date" type="date" class="form-control input-md">'
                );
            }
            else{
                $('#div-start-date').attr('class','col-md-12 col-lg-12');
                $('#div-mode').attr('class','col-md-12 col-lg-12');
                $('.select-end-date').empty();
            }
            console.log('mode: '+mode);


        })
function getBranchOffice() {
            $branch_office_search = $('#branch-office-id');
            $.ajax({
                url: '/vetstore/rest/get_branch_office/',
                dataType: 'JSON',
                success: function (data) {
                    $branch_office_search.append('<option value="0" selected>Seleccione una sucursal</option>');
                    $.each(data, function (key, val) {
                        $branch_office_search.append('<option value="' + val.id + '">' + val.name + '</option>');
                    });
                }
            });
        };

    </script>
{% endblock %}
