{% extends 'vetstore/base.html' %}


{% block content %}
    <div class="col-md-10 col-md-offset-1"><div id="alerts"></div></div>




    <div class="col-md-12">
        <div class="page-header text-center">
            <h1>Control de inventario</h1>
            <p class="lead">Todo para que comiences rápidamente</p>
        </div>
        <style>
            .rol{
                margin-bottom: 2rem;
                display: none;
            }

        </style>





        <div class="container mb-4 men-home">
            <div class="row">

                <div class="rol col-sm-4 CAJ ADM">
                    <div class="card">
                        <div class="card-body text-center">
                            <a class="waves-effect get-page" href="javascript:void(0);" data-url="products">
                                <i class="fa fa-list fa-4x black-text"></i>

                                <h3 class="">Productos</h3>
                            </a>

                        </div>
                    </div>
                </div>

                <div class="rol col-sm-4 ADM">
                    <div class="card">
                        <div class="card-body text-center">
                            <a class="waves-effect get-page" href="javascript:void(0);" data-url="purchases">
                                <i class="fa fa-shopping-basket fa-4x black-text"></i>
                                <h3>Compras</h3>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="rol col-sm-4 CAJ ADM">
                    <div class="card">
                        <div class="card-body text-center">
                            <a class="waves-effect get-page" href="javascript:void(0);" data-url="sales">
                                <i class="fa fa-shopping-bag fa-4x black-text"></i>
                                <h3>Ventas</h3>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="rol col-sm-4 ADM">
                    <div class="card">
                        <div class="card-body text-center">
                            <a class="waves-effect get-page" href="javascript:void(0);" data-url="brands">
                                <i class="fa fa-bookmark-o fa-4x black-text"></i>
                                <h3>Marcas</h3>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="rol col-sm-4 ADM">
                    <div class="card">
                        <div class="card-body text-center">
                            <a class="waves-effect get-page" href="javascript:void(0);" data-url="categories">
                                <i class="fa fa-tags fa-4x black-text"></i>
                                <h3>Categorías</h3>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="rol col-sm-4 ADM">
                    <div class="card">
                        <div class="card-body text-center">
                            <a class="waves-effect get-page" href="javascript:void(0);" data-url="suppliers">
                                <i class="fa fa-handshake-o fa-4x black-text"></i>
                                <h3>Proveedores</h3>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="rol col-sm-4 CAJ ADM">
                    <div class="card">
                        <div class="card-body text-center">
                            <a class="waves-effect get-page" href="javascript:void(0);" data-url="attendances">
                                <i class="fa fa-clock-o fa-4x black-text"></i>
                                <h3>Asistencias</h3>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="rol col-sm-4 ADM">
                    <div class="card">
                        <div class="card-body text-center">
                            <a class="waves-effect get-page" href="javascript:void(0);" data-url="data_group">
                                <i class="fa fa-archive fa-4x black-text"></i>
                                <h3>Entradas y Salidas</h3>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="rol col-sm-4 CAJ ADM">
                    <div class="card">
                        <div class="card-body text-center">
                            <a class="waves-effect get-page" href="javascript:void(0);" data-url="product_return">
                                <i class="fa fa-reply fa-4x black-text"></i>
                                <h3>Devoluciones</h3>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="rol col-sm-4 CAJ ADM">
                    <div class="card">
                        <div class="card-body text-center">
                            <a class="waves-effect get-page" href="javascript:void(0);" data-url="expenses">
                                <i class="fa fa-paper-plane fa-4x black-text"></i>
                                <h3>Egresos</h3>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="rol col-sm-4 ADM">
                    <div class="card">
                        <div class="card-body text-center">
                            <a class="waves-effect get-page" href="javascript:void(0);" data-url="reports">
                                <i class="fa fa-bell fa-4x black-text"></i>
                                <h3>Reportes</h3>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="rol col-sm-4 ADM">
                    <div class="card">
                        <div class="card-body text-center">
                            <a class="waves-effect get-page" href="javascript:void(0);" data-url="employees">
                                <i class="fa fa-users fa-4x black-text"></i>
                                <h3>Empleados</h3>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
{% endblock %}

{% block script %}
<script type="text/javascript">

console.log("role: {{ role }}");

    </script>
{% endblock %}
