<style>

    .table{

    }
    .table th{
        font-family: continuum_lightregular;
        font-weight: 600 !important;
    }

    .table input[type="number"],.table input[type="text"]{
    {#        border: 1px solid #e0e0e0 !important;#}
        border-color: #ffffff !important;
        font-weight: 100;
        padding-left: 8.8px;
    }

    .table .md-form {
        margin-top: 0;
    }
</style>

{% load static %}
{% block content %}


    <form action="" method="post" id="purchase-registration-form">
        {% csrf_token %}
        <div class="row">


            <!-- Small input -->


            <div class="col-md-4 col-lg-4">

                <!-- Card -->
                <div class="card">

                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title"><a>Información de la compra</a></h4>
                        <!-- Text -->
                        {#                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
                        <div class="row">

                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="operation-number">Número de operación</label>
                                    <input type="text" id="operation-number" name="operation-number" class="form-control form-control-sm" autocomplete="off" value="S/N">
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="branch-office-id">Sucursal</label>
                                    <select id="branch-office-id" name="branch-office-id" class="custom-select custom-select-sm"></select>
                                </div>
                            </div>

                            <div class="col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="supplier-name">Proveedor</label>
                                    <input type="text" id="supplier-name" name="supplier-name" class="form-control form-control-sm" autocomplete="off">
                                    <input type="hidden" id="supplier-id">
                                </div>
                            </div>

                            <div class="col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label class="control-label" for="request-date">Fecha de solicitud</label>
                                    <input id="request-date" name="request-date" type="date" class="form-control form-control-sm" value="{{ formatted_time|date:"Y-m-d" }}">
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- Card -->



                <!-- Card -->
                <div class="card">

                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title"><a>Artículos de compra</a></h4>
                        <!-- Text -->
                        {#                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
                        <div class="row">

                            <div class="col-md-12 col-lg-12">
                                <div class="md-form form-sm">
                                    <input type="text" id="product-name" name="product-name" class="form-control form-control-sm" autocomplete="off">
                                    <input type="hidden" id="product-barcode">
                                    <input type="hidden" id="product-id">
                                    <label for="product-name">Nombre de producto / Barcode inicial de producto (no del lote)</label>
                                </div>
                            </div>

                            <div class="col-md-12 col-lg-12" id="stock-status"></div>

                            <div class="col-md-6 col-lg-6">
                                <div class="md-form form-sm">
                                    <input type="number" id="quantity-ordered" name="quantity-ordered" class="form-control form-control-sm" autocomplete="off">
                                    <label for="quantity-ordered">Cantidad</label>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6">
                                <div class="md-form form-sm">
                                    <input type="number" id="rate" name="rate" class="form-control form-control-sm" autocomplete="off">
                                    <label for="rate">Precio</label>
                                </div>
                            </div>


                        <!-- Button -->
                        <a href="javascript:void(0)" class="btn btn-blue-grey waves-light" id="add-detail"><i class="fa fa-cart-plus fa-lg mr-1"></i> Agregar detalle</a>

                    </div>

                </div>
                <!-- Card -->


            </div>

            </div>

            <div class="col-md-8 col-lg-8">

                <table class="table table-bordered table-sm">

                    <!--Table head-->
                    <thead class="blue-grey lighten-5 detail-head-rows">

                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody class="detail-rows">


                    </tbody>
                    <!--Table body-->

                </table>
            </div>

        </div>



    </form>


{% endblock %}
{% block script %}
    <script type="text/javascript">
        $index = 0;



        function getBrand() {
            $brand = $('#brand');
            $.ajax({
                url: '/vetstore/rest/get_brand/',
                dataType: 'JSON',
                success: function (data) {
                    $brand.append('<option value="0" disabled selected>Seleccione una marca</option>');
                    $.each(data, function (key, val) {
                        $brand.append('<option value="' + val.id + '">' + val.name + '</option>');
                    });
                }
            });
        };


        $('document').ready(function () {


            getBrand();
            getBranchOffice();
            activeProductAutocomplete();
            activeSupplierAutocomplete();



        });

        function activeProductAutocomplete() {
            $("#product-name").autocomplete({
                minLength: 2,
                source: function (req, add) {
                    var search = $("#product-name").val();
                    search = search.trim();
                    $.ajax({
                        url: '/vetstore/purchase_product_autocomplete_list/',
                        async: true,
                        dataType: 'json',
                        type: 'GET',
                        data: {'search': search},
                        success: function (data) {
                            var array = data.map(function(element) {
                                return {
                                    value: element['id'] + ' ' + element['name'],
                                    id: element['id'],
                                    name: element['name'],
                                    barcode: element['barcode'],
                                    current_inventory: element['current_inventory']
                                };
                            });
                            add(array);

                            //llenado automatico

                            if (search.length > 5) {

                                codePatron = /^[0-9]{5,20}$/;
                                if (codePatron.test(search)) {
                                    console.log('Formato valido.');
                                }
                                else {
                                    console.log('Formato invalido.');
                                    return false;
                                }
                                $.ajax({
                                    url: '/vetstore/purchase_product_autocomplete_list/',
                                    async: true,
                                    dataType: 'json',
                                    type: 'GET',
                                    data: {'search': search},
                                    success: function (response) {
                                        var array = response.map(function (element) {
                                            $('#product-barcode').val(element['barcode']);
                                            $('#product-id').val(element['id']);


                                            showStock(element['name'], element['current_inventory']);


                                        });


                                    },
                                    fail: function (response) {
                                        $('#alerts').html(response.alert);
                                    }
                                });

                            }
                        },
                        fail: function (response) {
                            $('#alerts').html(response.alert);
                        }
                    });
                },
                select: function (event, ui) {
                    console.log('key: ' + ui.item.value);
                    console.log('Id: ' + ui.item.id);
                    $('#product-barcode').val(ui.item.barcode);
                    $('#product-id').val(ui.item.id);

                    showStock(ui.item.name, ui.item.current_inventory);
                }
            });
        };

        function activeSupplierAutocomplete() {
            $("#supplier-name").autocomplete({
                minLength: 2,
                source: function (req, add) {
                    var search = $("#supplier-name").val();
                    $.ajax({
                        url: '/vetstore/supplier_list/',
                        async: true,
                        dataType: 'json',
                        type: 'GET',
                        data: {'search': search},
                        success: function (data) {
                            var array = data.map(function(element) {
                                return {value: element['id'] + ' ' + element['name'], id: element['id'],};
                            });
                            add(array);
                        },
                        fail: function (response) {
                            $('#alerts').html(response.alert);
                        }
                    });
                },
                select: function (event, ui) {
                    console.log('key: ' + ui.item.value);
                    console.log('Id: ' + ui.item.id);
                    $('#supplier-id').val(ui.item.id);
                }
            });
        };


        //add-detail
        $('#add-detail').on('click', function () {

            $product_name = $('#product-name').val();
            $product_id = $('#product-id').val();
            $quantity = $('#quantity-ordered').val();
            $price = $('#rate').val();
            $rode = parseFloat($quantity) * parseFloat($price);

            var $head =
                '<tr>'+
                '<th>#</th>'+
                '<th class="th-lg">PRODUCTO</th>'+
                '<th class="th-lg">PRECIO</th>'+
                '<th class="th-lg">CANTIDAD</th>'+
                '<th class="th-lg">SUBTOTAL</th>'+
                '</tr>';

            $('.detail-head-rows').html($head);

            var $row = '<tr class="detail" pk="'+$index+'">'+
                '<th scope="row">'+
                '<button type="button" class="btn btn-elegant btn-sm remove-detail" pk="'+$index+'">'+
                '<i class="fa fa-remove fa-2x" aria-hidden="true"></i>'+
                '</button>'+
                '</th>'+
                '<td>'+
                '<div class="md-form form-sm">'+
                '<input type="text" class="form-control form-control-sm product-name" value="'+$product_name+'">'+
                '<input type="hidden" class="product-id" value="'+$product_id+'">'+
                '</div>'+
                '</td>'+
                '<td>'+
                '<div class="md-form form-sm">'+
                '<span class="prefix" style="font-size: 13px;">S/</span>'+
                '<input type="number" class="form-control form-control-sm price" value="'+$price+'">'+
                '</div>'+
                '</td>'+
                '<td>'+
                '<div class="md-form form-sm">'+
                '<input type="number" class="form-control form-control-sm quantity" value="'+$quantity+'">'+
                '</div>'+
                '</td>'+
                '<td>'+
                '<div class="md-form form-sm">'+
                '<span class="prefix" style="font-size: 13px;">S/</span>'+
                '<input type="number" class="form-control form-control-sm rode" value="'+$rode+'">'+
                '</div>'+
                '</td>'+
                '</tr>';

            $('.detail-rows').prepend($row);

            updateTotal();
            activeRemove();

            $('#product-name').val("");
            $('#quantity-ordered').val("");
            $('#rate').val("");

        });

        function updateTotal() {
            var $charged = 0;
            $(".detail-rows .detail").each(function () {
                $charged += parseFloat($(this).find('.price').val()) * parseFloat($(this).find('.quantity').val());
            });

            $('.detail-rows tr.subtotal').remove();
            $('.detail-rows tr.igv').remove();
            $('.detail-rows tr.total').remove();
            if($charged > 0){
                var $row2 =
                    '<tr class="subtotal">'+
                    '<th scope="row" colspan="3"></th>'+
                    '<td>SUBTOTAL</td>'+
                    '<td><div class="md-form form-sm">'+
                    '<span class="prefix" style="font-size: 13px;">S/</span>'+
                    '<input type="number" class="form-control form-control-sm" value="'+$charged+'">'+
                    '</div></td>'+
                    '</tr>'+
                    '<tr class="igv">'+
                    '<th scope="row" colspan="3"></th>'+
                    '<td>IGV</td>'+
                    '<td><div class="md-form form-sm">'+
                    '<span class="prefix" style="font-size: 13px;">S/</span>'+
                    '<input type="number" class="form-control form-control-sm" placeholder="0.00">'+
                    '</div></td>'+
                    '</tr>'+
                    '<tr class="total">'+
                    '<th scope="row" colspan="3"></th>'+
                    '<td>TOTAL</td>'+
                    '<td><div class="md-form form-sm">'+
                    '<span class="prefix" style="font-size: 13px;">S/</span>'+
                    '<input type="number" class="form-control form-control-sm" value="'+$charged+'">'+
                    '</div></td>'+
                    '</tr>';
                $(".detail-rows").append($row2);
            }

        }

        function activeRemove() {
            $('.remove-detail').on('click', function () {
                $("tr.detail[pk='" + $(this).attr('pk') + "']").remove();
                updateTotal();
            });
        }
        $('#save-purchase').on('click', function () {

            var receipt = {
                "Details": [],
                "Supplier": $("#supplier-id").val(),
                "RequestDate": $("#request-date").val(),
                "OperationNumber": $("#operation-number").val(),
                "BranchOffice": $("#branch-office-id").val(),
                "Subtotal": parseFloat($("tr.subtotal").find(":input[type='number']").val()),
                "Igv": parseFloat($("tr.igv").find(":input[type='number']").val()),
                "Total": parseFloat($("tr.total").find(":input[type='number']").val())
            };

            $("tr.detail").each(function () {

                var detailObj = {
                    "Product": $(this).find("input.product-id").val(),
                    "Quantity": $(this).find("input.quantity").val(),
                    "Price": $(this).find("input.price").val(),
                    "Rode": $(this).find("input.rode").val()
                };

                receipt.Details.push(detailObj);
            });

            $.ajax({
                url: '/vetstore/generate_purchase_receipt/',
                async: true,
                dataType: 'json', // for response
                type: 'GET',
                //data: receipt,
                //data: JSON.stringify(receipt),
                data: {'receipt': JSON.stringify(receipt)},
                //contentType: "application/x-www-form-urlencoded/json",
                //contentType: 'application/json',  // for request
                contentType: 'application/json;charset=UTF-8',
                //processData: false,
                headers: {"X-CSRFToken":'{{ csrf_token }}'},
                success: function (response) {
                    console.log(response.message);
                    $('.list-products').html(response.list);
                    $('#left-modal').modal('hide');
                    $('#alerts').html(response.alert);
                },
                fail: function (response) {
                    $('#alerts').html(response.alert);
                    console.log(response.message)
                }
            });


            $('#fullHeightModalRight').modal('hide');
            //$('#receipt-print').text(JSON.stringify(receipt));

        });

        function showStock($name, $stock) {
            $text =
            '<ul class="list-group">'+
                '<li class="list-group-item d-flex justify-content-between align-items-center">'+
                    'Nombre de producto'+
                    '<span class="badge badge-primary badge-pill">'+$name+'</span>'+
                '</li>'+
                '<li class="list-group-item d-flex justify-content-between align-items-center">'+
                    'Stock disponible'+
                    '<span class="badge badge-primary badge-pill">'+$stock+'</span>'+
                '</li>'+
            '</ul>';
            $("#stock-status").html($text);
        }

        function getBranchOffice() {
//branch_office_id
            $branch_office = $('#branch-office-id');
            $.ajax({
                url: '/vetstore/rest/get_branch_office/',
                dataType: 'JSON',
                success: function (data) {
{#                    $branch_office.append('<option value="0" disabled>Seleccione</option>');#}
                    $.each(data, function (key, val) {
                        $branch_office.append('<option value="' + val.id + '">' + val.name + '</option>');
                    });
                    $("#purchase-registration-form #branch-office-id option[value='" + {{ branch_office_id }} + "']").prop('selected', true);
                }
            });
        };
    </script>
{% endblock %}
