{% load static %}
{% block content %}

    <div class="col-md-12">
        <div class="page-header text-center">
            <h1>{{ title }}</h1>
            <p class="lead">Todo para que comiences rápidamente</p>
        </div>
    </div>

    <div class="col-md-12 col-md-offset-1"><div id="alerts"></div></div>


    <h3>Reportes</h3>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th class="th-sm">Tipo</th>
            <th class="th-lg">Descripcion</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a target="_blank" href="{% url 'vetstore:export_users_csv' %}"><i class="fa fa-users fa-3x" aria-hidden="true"></i> </a></td>
            <td>Usuarios registrados</td>
        </tr>
        <tr>
            <td><a target="_blank" href="{% url 'vetstore:export_products_csv' %}"><i class="fa fa-product-hunt fa-3x" aria-hidden="true"></i> </a></td>
            <td>Productos</td>
        </tr>
        <tr>
            <td><a target="_blank" href="{% url 'vetstore:export_batches_csv' %}"><i class="fa fa-archive fa-3x" aria-hidden="true"></i> </a></td>
            <td>Stock actual de lotes</td>
        </tr>
        <tr>
            <td><a target="_blank" href="{% url 'vetstore:export_users_csv' %}"><i class="fa fa-tags fa-3x" aria-hidden="true"></i> </a></td>
            <td>Categorias</td>
        </tr>

        </tbody>
    </table>







{% endblock %}

{% block script %}
    <script type="text/javascript">

    </script>
{% endblock %}
