<style>
    #table-sales > thead > tr > th{
        font-size: 0.7rem !important;
        text-align: center;
        vertical-align: middle;
        background-color: #c62828;
        color: #f8f9fa;
        border-color: #ff5252;
        border-left: 1px solid #d50000;
    }
    #table-sales > tbody > tr > td{
        font-size: 0.65rem !important;
        text-align: center;
        vertical-align: middle;
        background-color: #d32f2f;
        color: #f8f9fa;
        border-color: #ff5252;
        border-left: 1px solid #d50000;
    }

    #table-sales > tbody > tr > td > table, #table-sales > tbody > tr > td > table > tbody > tr > td > table{
        margin-bottom: 0;
    }

    #table-sales > tbody > tr > td > table > thead > tr > th{
        font-size: 0.7rem !important;
        text-align: center;
        vertical-align: middle;
        background-color: #e53935;
        border-color: #ff5252;
        border-left: 1px solid #d50000;
    }
    #table-sales > tbody > tr > td > table > tbody > tr > td{
        font-size: 0.7rem !important;
        text-align: center;
        vertical-align: middle;
        background-color: #f44336;
        border-left: 1px solid #d50000;
        border-top: 1px solid #f44336;
    }
    #table-sales > tbody > tr > td > table > tbody > tr > td > table > thead > tr > th{
        font-size: 0.7rem !important;
        text-align: center;
        vertical-align: middle;
        background-color: #CC0000;
        border-color: #ff5252;
        border-left: 1px solid #ff5252;
    }
    #table-sales > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td{
        font-size: 0.7rem !important;
        text-align: center;
        vertical-align: middle;
        background-color: #ff4444;
        border-left: 1px solid #ff5252;
    }
    #table-sales td.right{
        text-align: right;
        background-color: #ef5350;
        width: 6em;
    }
</style>
{% load static %}
{% block content %}
    {% if sales %}

        <table class="table table-striped table-sm"  id="table-sales">
            <thead>
            <tr>
                <th>Fecha<br>creación</th>
                <th>Fecha<br>venta</th>
                <th>Detalle de venta</th>
                <th>Vendedor</th>
                <th>Cliente</th>
                <th>Forma<br>pago</th>
                <th>Cobrado</th>
                <th>Recibido</th>
                <th>Vuelto</th>
                <th>Sucursal</th>
                {% if role == 'ADM' %}
                <th>Ganancia<br>Estimada</th>
                <th>Ganancia<br>Obtenida</th>
                <th>Dscto<br>Total</th><!---->
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for sale in sales.all %}

                <tr>
                    <td>{{ sale.created_at|date:'d/m/Y h:i a' }}</td>
                    <td>{{ sale.sale_date|date:'d/m/Y' }}</td>
                    <td>
                        <table class="table table-striped table-sm">
                            <thead>
                            <tr>
                                <th>Producto</th>
                                <th>P. V.</th>
                                <th>Cant.</th>
                                <th>Subtotal</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for detail in sale.detail_sales.all %}
                                {% if detail.product_return == None %}
                                    <tr>
                                        <td rowspan="2">
                                            {{ detail.product.name|upper }}<br>
                                            <small>{{ detail.product.category.name|upper }}</small><br>
                                            <strong>{{ detail.product.barcode }}</strong>
                                        </td>
                                        <td class="right">S/&nbsp;{{ detail.rate|floatformat }}</td>

                                        <td rowspan="1">{{ detail.quantity_ordered }}</td>

                                        <td class="right">S/ <strong>{{ detail.amount|floatformat }}</strong></td>

                                    </tr>
                                    <tr>

                                        <td colspan="4">


                                            <table class="table table-striped table-sm">
                                                <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Cant.</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for batch_detail in detail.acquisitions.all %}
                                                    <tr>
                                                        {#                                                            <td>{{ batch_detail.batch.barcode|slice:"13:" }}</td>#}
                                                        <td>{{ batch_detail.batch.barcode }}[{{ batch_detail.batch.detail_batches.all.first.acquisition_detail.purchase.branch_office.name }}]</td>

                                                        <td>{{ batch_detail.quantity }}</td>


                                                    </tr>

                                                {% endfor %}
                                                </tbody>
                                            </table>

                                        </td>

                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>

                    </td>
                    <td>{{ sale.employee.user.get_full_name|upper }}</td>
                    <td>{{ sale.customer.user.get_full_name|upper }}</td>
                    <td>{{ sale.get_way_pay_display|upper }}</td>


                    <td class="right">S/ <strong>{{ sale.charged|floatformat }}</strong></td>
                    <td class="right">S/ <strong>{{ sale.received|floatformat }}</strong></td>
                    <td class="right">S/ <strong>{{ sale.turned|floatformat }}</strong></td>
                    <td>{{ sale.branch_office.name }}</td>
                {% if role == 'ADM' %}
                    <td class="right">S/ <strong>{{ sale.total_gain_estimated|floatformat }}</strong></td>
                    <td class="right">S/ <strong>{{ sale.total_gain_obtained|floatformat }}</strong></td>
                    <td class="right">S/ <strong>{{ sale.total_discount|floatformat }}</strong></td><!---->
                {% endif %}
                </tr>
            {% endfor %}

                <tr>
                    <td colspan="6"></td>
                    <td class="right">S/ <strong>{{ charged_sum.charged__sum|floatformat }}</strong></td>
                    <td class="right">S/ <strong>{{ received_sum.received__sum|floatformat }}</strong></td>
                    <td class="right">S/ <strong>{{ turned_sum.turned__sum|floatformat }}</strong></td>
                    <td></td>
                    {% if role == 'ADM' %}
                    <td class="right">S/ <strong>{{ sales_gain_estimated_sum|floatformat }}</strong></td>
                    <td class="right">S/ <strong>{{ sales_gain_obtained_sum|floatformat }}</strong></td>
                    <td class="right">S/ <strong>{{ sales_total_discount_turned_sum|floatformat }}</strong></td><!---->
                    {% endif %}
                </tr>
            </tbody>
        </table>

    {% else %}
        No hay registros.
    {% endif %}

{% endblock %}

{% block script %}
    <script type="text/javascript">


    </script>
{% endblock %}
